@charset "UTF-8";

@import url(base.css);
@import url(textsettings.css);

/*--------------------------------------------------------------*/

img{
max-width: 100%;
height: auto;
width /***/:auto;　
}
/* ------------------------------------------------------------ */
/* 基本、レイアウト指定 */
/* ------------------------------------------------------------ */
h3.sns_Btn img {
	width:40px !important;
}

.pc { display:none !important;}
* html body {     
    background:url(null) fixed;     
}  

body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif, Osaka , "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}
html {
	overflow-x:hidden;
} 

.img_left {
	float:left;
	margin:0 15px 15px 0;
}
.img_right {
	float:right;
	margin:0 0 15px 15px;
}

/* ------------------------------------------------------------ */
/* リンク色 */
/* ------------------------------------------------------------ */
.wpgmp_infowindow a,
.report .side a,
.report .entory a,
.tokusen .caseList li a .data h4,
.arbeit #content h3 a,
.arbeit .inbox .data a,
#shop02 .right a,
.stay #content h3 a,
#sub #punkuz a {
	color:#2b98ce !important;
}
.tokusen .caseList li a:hover .data h4,
.tokusen .caseList li a:hover,
.arbeit #content h3 a:hover,
.arbeit .inbox .data a:hover,
#shop02 .right a:hover,
#bgBox h4 a:hover,
.tokusen .single h3 .cat a:hover,
.report .side .photoinfo:hover,
.stay #content h3 a:hover,
.report .entory a:hover,
.report .side .tel a:hover,
#sub #punkuz a:hover {
	color:#1c6da4 !important;
	opacity:1 !important;
}
a:link {
	color:#333;
	text-decoration:none;
}
a:visited {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#333;
	text-decoration:none;
}
a:active {
	color:#333;
	text-decoration:none;
}
.clearfix:after {
  content: ".";  /* 新しいコンテンツ */
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; /* 非表示に */
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}
/* ------------------------------------------------------------ */
/* 全体格納 */
/* ------------------------------------------------------------ */
#wrapper {
}

#container {
	padding:45px 0 0;
	position:relative;
	overflow:hidden;
	clear: both;
}

/* ------------------------------------------------------------ */
/* ヘッダー */
/* ------------------------------------------------------------ */
#header {display:none !important;}
#spHead {
	position:fixed;
	top:0;
	right:0;
	width:100%;
	height:45px;
	z-index:99998;
	background:#000;
}
#spHead h1 {
	width:130px;
	float:left;
	margin:11px 0 0 15px;
		z-index:99999;
		position:relative;
}
#spHead h1 a {
	display:block;
}
.wideslider {
	margin:0 0 20px;
}
.wideslider ul li .text {
	position:absolute;
	top:20px !important;
	left:20px !important;
	color:#fff;
	font-size:14px !important;
	text-shadow: 1px 0px 5px #000000 !important;
}
.wideslider ul li .text span {
	display:block;
	margin:5px 0 0;
	padding:2px 0 !important;
	font-size:10px !important;
	width:80px!important;
	text-align:center;
	border:solid 1px #fff;
	border-radius: 3px; /* CSS3草案 */ 
	-webkit-border-radius: 3px; /* Safari,Google Chrome用 */ 
	-moz-border-radius: 3px; /* Firefox用 */
	cursor:pointer;
}
.wideslider ul li:hover .text span {
	background:#fff;
	color:#2b98ce;
}
.wideslider ul li .text span i {
	margin:0 0 0 10px;
	font-size:10px!important;
}
.wideslider {
	box-shadow: 0px 2px 5px 1px #ECEAEA;
	-webkit-box-shadow: 0px 2px 5px 1px #ECEAEA;
	-moz-box-shadow: 0px 2px 5px 1px #ECEAEA;
}
.wideslider ul li .text {
	font-size:85% !important;
}
.wideslider ul li .text h2 {
    font-size: 122% !important;
}
/* ------------------------------------------------------------ */
/* コンテンツ */
/* ------------------------------------------------------------ */
/* 縦スクロールバー */
.jspVerticalBar { position:absolute; top:0; right:0% !important; width:10px; height:100%; }
.scroll_area {
    height: 100px;
    overflow: auto;
	width:100% !important;
}
#topNews li a {
	font-size:12px;
	color:#2b98ce;
}
#topNews li a span {
	color:#333 !important;
	margin:0 10px 0 0;
	font-size:10px !important;
}
#topNews ul {
	width:95% !important;
	padding:0 0 0 1%;
}
#topNews li {
	margin:0 0 8px;
	overflow:hidden;
}
#topBn {
	width:98%;
	margin:0 auto 20px;
	clear:both;
	overflow:hidden;
	padding:10px 1%;
}
#topBn li {
	float:left;
	width:48%;
	margin:0 1% 10px;
}
#topBn li img {
	width:100%;
}
#topNews {
	clear:both;
	width:95%;
	margin:0 auto 20px;
}
#topNews .h2box {
	text-align:left;
	border-bottom:dotted 1px #ccc;
	margin:0 0 10px;
	position:relative;
	height:20px;
}
#topNews h2 {
	font-size:18px;
	line-height:1.0em;
	color:#545454;
	position:absolute;
	left:0;
	bottom:5px;
}
#topNews .h2box a {
	font-size:10px;
	color:#2b98ce;
	position:absolute;
	right:0;
	bottom:5px;
}
#topNews a i {
	margin:0 0 0 5px;
}
.fa-chevron-right {
	font-size:85% !important;
}
/* レポートエリア */
#reportBox {
	clear:both;
	width:100%;
	margin:0;
}
#reportBox .pagenation a {
	color:#fff !important;
}

#reportBox .sidenav {display:none;}
#tab {
	width:100%;
}
#tab li {
  float: left;
  list-style: none;
  cursor: pointer;
  background: #bbbbbb;
  width:50%;
  text-align:center;
  font-size:12px;
  color:#fff;
  position:relative;
}
#tab li.tab02 {
background:#22a639;
}
#tab li.tab01 {
background:#2b98ce;
}
#tab li a {
	display:block;
	padding:10px 0;
	color:#fff;
}
#tab li .fa-caret-down {
	position:absolute;
	left:50%;
	bottom:-20px;
	font-size:35px;
	display:none;
}
#tab li.tab01 span {
	background:url(../img/icon_gere.png) no-repeat 0 8px;
	padding:8px 0 8px 25px;
	background-size:20px auto;
}
#tab li.tab02 span {
	background:url(../img/icon_tra.png) no-repeat 0 6px;
	padding:8px 0 8px 20px;
	background-size:15px auto;
}

#tab li.tab01 .select .fa-caret-down {
	color:#2b98ce;
	display:inline;
}
#tab li.tab02 .select .fa-caret-down {
	color: #22a639;
	display:inline;
}

#tab li.tab01 .select {
  background: #2b98ce;
}
#tab li.tab02 .select {
  background: #22a639;
}

.disnon {  display: none;

}
.content_wrap {
  clear:both;
  width:95%;
  margin: 0 auto;
  color: #fff;
  padding:30px 0 10px;
  overflow:hidden;
}
.content_wrap .enBox .repoBtn {
	clear:both;
	padding:20px 0 0;
	width:95%;
	margin:0 auto;
}
.enBox {
	font-size:12px;
	width:100%;
	overflow:hidden;
}
#reportBox .enBox li {
	width:46%;
	height:160px;
	margin:0 2% 15px;
	float:left;
}
#reportBox .enBox li .photo {
	width:100%;
	height:65%;
	margin:0 0 5px;
	overflow:hidden;
}
.enBox li .photo img {
	width:100%;
}
#reportBox .enBox a {
	position:relative;
	background:#f2f2f2;
	height:160px;
	display:block;
	-webkit-transition: all .5s;
	transition: all .5s;
}
#reportBox .enBox a:hover {
	background:#000;
	color:#fff;
}
.enBox .tag {
	position:absolute;
	top:0px;
	left:0px;
}
.enBox .tag span {
	padding:3px 5px;
	font-size:10px;
	color:#fff;
	background:#22a539;
}
.gereBox .enBox .tag span {
	background:#2b98ce !important;
}
#reportBox .enBox li .photo {
	width:100%;
	height:65%;
	margin:0 0;
	overflow:hidden;
}
.enBox li .photo img {
	width:100%;
}
.enBox .time {
	font-size:10px;
	margin:0 0 2px;
	padding:0 10px;
}
.enBox h5 {
	font-size:12px;
	padding:0 10px;
	line-height:1.4em;
}
@media screen and (min-width: 800px){
#reportBox .enBox li {
	width:46%;
	height:220px;
	margin:0 2% 15px;
	float:left;
}
#reportBox .enBox a {
	height:220px;
}
#reportBox .enBox li .photo {
	height:75%;
}
.enBox .time {
    font-size: 12px;
    margin:0;
    padding: 10px 10px 2px;
}
}

.sidebn {
	width:98%;
	margin:0 auto 20px;
	clear:both;
	overflow:hidden;
	padding:0px 1%;
}
.sidebn li {
	float:left;
	width:48%;
	margin:0 1% 5px;
}
#top .ticket {
	width:98%;
	margin:0 auto 5px !important;
	clear:both;
	overflow:hidden;
	padding:0px 1%;
}
#top .ticket li {
	float:left;
	width:49%;
	margin:0 0.5%;
}
/* 泊まる＆お店エリア */
#stay_food {
	clear:both;
	width:100%;
	margin:0 0 10px;
}
#stay_food .s_f_box {
  clear:both;
  width:95%;
  max-width:1440px;
  font-size: 20px;
  margin: 0 auto;
  padding:40px 0;
  overflow:hidden;
}
#stay_food h3 {
	font-size:18px;
	border-bottom:dotted 1px #666;
	margin:0 0 20px;
}
.s_f_box .stay {
	width:100%;
	overflow:hidden;
	margin:0 0 40px;
}
.s_f_box .food {
	width:100%;
	overflow:hidden;
}

.s_f_box .stay .bn {
	width:102%;
	clear:both;
	overflow:hidden;
	margin:0 0 20px;
}
.s_f_box .stay .bn li {
	width:48%;
	float:left;
	margin:0 2% 0 0;
}
.s_f_box .stay .bn li a {
	display:block;
}
.s_f_box .stay .bn li.case img,
.s_f_box .stay .bn li a img {width:100%;}
.s_f_box .enBox a {
    -webkit-transition: all .5s;
    transition: all .5s;
}
.s_f_box .stay .bn li.case {
	position:relative;
	overflow:hidden;
}
.s_f_box .stay .bn li.case a {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	display:block;
	z-index:9997;
}
.s_f_box .stay .bn li.case a .photo {
	width:100%;
	height:100%;
	overflow:hidden;
}
.s_f_box .stay .bn li.case a .photo img {
	height:100%;
}
.s_f_box .stay .bn li.case a .text {
	position:absolute;
	bottom:0;
	left:0;
	z-index:99;
	background:url(../img/case_bg_opa.png) repeat 0 0;
	color:#fff;
	padding:15px 5%;
    -webkit-transition: all .5s;
    transition: all .5s;
	width:90%;
}
.s_f_box .stay .bn li.case a:hover .text {
	padding:15px 5% 20px;
}
.s_f_box .stay .bn li.case a .text span {
	display:block;
	font-size:12px;
}
.stay .link {
	margin:0 0 10px;
	clear:both;
	padding:0 10px;
}
.stay .link a {
	display:block;
	color:#2b98ce;
	font-size:100%;
	position:relative;
	padding:0 0 0 15px;
	font-weight:bold;
}
.stay .link a i {
	position:absolute;
	top:5px;
	left:0;
	font-size:8px !important;
}
#stay_food .enBox .accordion {
	margin:0 auto 20px;
	clear:both;
	width:100%;
	overflow:hidden;
}
#stay_food .enBox .btn_item {
	width:90% !important;
	font-size:14px !important;
	margin:0 auto !important;
}
#stay_food .enBox .btn_item i {
    position: absolute;
    right: 8px;
    top: 11px;
    font-size: 14px !important;
}
#stay_food .enBox ul.accordion ul {
	padding:10px 10px 0;
	margin:0 !important;
}
/*#stay_food .enBox ul.accordion ul a {
    font-size: 14px;
    background: url(../img/subnav_bg.gif) no-repeat 0 7px !important;
	background-size:2px;
    margin: 0 0 0 10px !important;
	padding:0 0 0 10px !important;
	display:block;
    color: #2b98ce;
}*/
.stay ul.accordion ul a {
    font-size: 14px;
	background: url(../img/icon_top_bet.png) no-repeat 0 5px;
	background-size:10px !important;
    margin: 0 0 0 2px !important;
	padding:0 0 0 20px !important;
	display:block;
    color: #2b98ce;
}

.food ul.accordion ul a {
    font-size: 14px;
    background: url(../img/eat/icon_eat_02.png) no-repeat 0 2px !important;
	background-size:6px !important;
    margin: 0 0 0 2px !important;
	padding:0 0 0 18px !important;
	display:block;
    color: #2b98ce;
}
food
#stay_food .enBox .big_bn,
#stay_food .enBox .big_bn img {
	width:100%;
}

#stay_food .sidebn {
	margin:0 0 25px;
}
ul.accordion span i {
	font-size:10px;
	margin:0 5px 0 0;
}
.accordion span.open .fa-plus {display:none;}
.accordion span .fa-minus {display:none;}
.accordion span.open .fa-minus{display:inline;}
ul.accordion {  width:100%; margin:0 auto 10px; font-size:14px;color:#2b98ce;}
ul.accordion span {
    display: block;
    background-position: 97% center;
    background-repeat: no-repeat;
    padding: 10px 0;
}
ul.accordion ul { display:none; margin:0 0 30px;}
ul.accordion > li > p { cursor:pointer; color:#2b98ce; position:relative;}
/*ul.accordion ul a {
	font-size:13px;
	background:url(../img/subnav_bg.gif) no-repeat 0 7px !important;
	margin:0 0 5px 10px !important;
}
*/
/* エリアマップ */
#areaMap {
	clear:both;
	margin:0 0 20px;
}
#areaMap h3 {
	width:95%;
	font-size:18px;
	margin:0 auto 15px;
	position:relative;
}
#areaMap h3 a {
	display:block;
	position:absolute;
	right:0;
	bottom:5px;
	color:#2b98ce;
	font-size:12px !important;
}
#areaMap h3 a i {
	margin:0 0 0 10px;
	font-size:10px !important;
}
#areaMap .mapBox {
	margin:0 0 10px;
}
#areaMap .mapBox .wpgmp_map {
	height:300px !important;
}
#areaMap .other {
	max-width:1440px;
	width:95%;
	margin:0 auto;
}
#areaMap .other a {
	color:#2b98ce;
}
#areaMap .other span {
	font-weight:bold;
	font-size:15px;
}
#top .botoomBn {
	max-width:1440px;
	width:95%;
	margin:0 auto 50px;
	clear:both;
	overflow:hidden;
}
#top .botoomBn li {
	float:left; 
	margin:0 1% 0;
	width:31%;
}
#top .botoomBn li img {
	width:100%;
}

/* ------------------------------------------------------------ */
/* フッター */
/* ------------------------------------------------------------ */
#sp_footer {
	width:100%;
	background:#ececec;
	color:#474747;
	padding:0 0 10px;
	clear:both;
	overflow:hidden;
	height:230px;
	margin:100px 0 0;
}
#sp_footer div.item {
	width:90%;
	margin:0 auto 10px;
	padding:20px 0;
	border-bottom:dotted 1px #474747;
	background:none;
}
#sp_footer div.item p {
	text-align:center;
	margin:0 0 20px;
}
#sp_footer div.item p a {
	margin:0 8px;
	background:url(../img/footer_arrow_sp.png) no-repeat 0 5px;
	background-size:4px 4px;
	font-size:11px;
	padding:0 0 0 8px;
	color:#474747;
}
#sp_footer div.item h3 {
	width:55%;
	margin:0 auto;
	text-align:center;
}
#sp_footer p.info {
	width:90%;
	margin:0 auto;
	font-size:10px;
	text-align:center;
	color:#474747;
}
#sp_footer p.info a {
	color:#474747!important;
}
/* ページトップへ戻る */
#pagetop_sp {
    position: fixed;
    bottom: 0;
	width:100%;
	z-index:9998;
}
#pagetop_sp a {
    display: block;
    width: 20%;
    text-align: center;
	margin:0 0 0 40%;
}
/* ------------------------------------------------------------ */
/* 下層ページ */
/* ------------------------------------------------------------ */
#sub #topArea {
	width:100%;
	height:auto;
	clear:both;
	background:#f3f3f3;
	position:relative;
}
#sub #topArea .imgBox img {
	display:block;
}
#sub.report #topArea .noBanner {
	margin:-40px 0 0;
}
#sub #topArea .imgBox span {
	display:block;
	position:absolute;
	bottom:10px;
	right:10px;
	background:#fff !important;
}
#sub #topArea .imgBox span.btn_item {
    display: block;
    padding: 0 10px !important;
    font-size: 10px!important;
	height:25px !important;
	line-height:25px !important;
}
#sub #topArea .imgBox span i {
	margin:0 0 0 10px;
    right: 8px;
    top: 7px !important;
    font-size: 10px !important;
}
#sub #topArea .imgBox span:hover {
	background:#2b98ce !important;
}
#sub #pageTitle {
	width:100%;
	height:40px;
	line-height:40px;
	margin:0 0 10px;
	color:#fff;
	font-size:16px;
}
#sub #pageTitle h2 {
	width:95%;
	margin:0 auto;
	text-align:center;
}
#sub #punkuz {
	width:95%;
	margin:0 auto 15px;
	font-size:10px;
}
#sub #content {
	width:90%;
	margin:0 auto 50px;
	clear:both;
	overflow:hidden;
}
/* ------------------------------------------------------------ */
/* 特徴のある宿選び */
/* ------------------------------------------------------------ */

.tokusen #pageTitle {
	background:#4c3210;
}
.tokusen #content h3 {
	font-size:15px;
	color:#4c3210;
	margin:0 0 15px;
	background: url(../img/icon_top_bet.png) no-repeat 0 5px;
	background-size:12px;
	padding:0 0 0 18px;
}
.eat #content h3 {
	font-size:15px;
	color:#4c3210;
	margin:0 0 15px;
	background: url(../img/eat/icon_eat_02.png) no-repeat 0 2px !important;
	background-size:5px;
	padding:0 0 0 13px;
}

.tokusen .caseList {
	width:100%;
}
.tokusen .caseList li {
	width:100%;
	height:90px;
	margin:0 0 10px;
	float:left;
}
.tokusen .caseList li a {
	display:block;
	height:90px;
	width:100%;
	background:#f3f3f3;
	clear:both;
	overflow:hidden;
}
.tokusen .caseList li .photo {
	width:25%;
	height:90px;
	float:left;
	overflow:hidden;
	position:relative;
}
.tokusen .caseList li .photo img {
	position:absolute;
	height:100px !important;
	width:auto !important;
	max-width:none !important;
	top:0;
	left:-10px;
}
.tokusen .caseList li .data {
	width:65%;
	padding:10px 5%;
	float:left;
}
.tokusen .caseList li .data h4 {
	font-size:14px;
	border-bottom:solid 1px #c0c0c0;
	margin:0 0 8px;
}
.tokusen .caseList li .data p {
	font-size:10px;
}
.tokusen .section {
	clear:both;
	overflow:hidden;
	margin:0 0 20px;
}
.tokusen .single .section01 {
	clear:both;
}

.tokusen .single h3 {
	background: none !important;
	padding:0 0 0px !important;
	position:relative;
	border-bottom:solid 1px #4c3210;
	margin:0 0 5px !important;
	clear:both;
	overflow:hidden;
}
.tokusen .single h3 .cat {
	display:none;
}
.tokusen .single .price {
	margin:0 0 15px;
}
.tokusen .single .leftBox {
	width:100%;
}
.tokusen .single .photoBox {
	width:100%;
	margin:0 0 20px;
}
.single .bx-wrapper img {
}
.tokusen .single .bx-pager {
	position:absolute;
	right:0;
	top:-15px;
	padding:0 !important;
}
.tokusen .bx-wrapper .bx-pager.bx-default-pager a {
	margin:0 2px !important;
}
.tokusen .bx-wrapper {
	margin:0 0 10px !important;
}
.tokusen .single #slider {
}
.tokusen .single .leftBox {
	line-height:1.8em;
	font-size:13px;
	margin:0 0 30px;
}
.tokusen .single .leftBox h4 {
	color:#4c3210;
	font-size:14px;
	margin:0 0 10px;
}
.tokusen .single .section01 {
	margin:0 0 30px;
	clear:both;
	overflow:hidden;
}
.tokusen .single .section02 h3,
.tokusen .single .section03 h3,
.tokusen .single .section04 h3 {
	margin:0 0 20px !important;
}
.tokusen .single .section02 {
	width:100%;
	line-height:1.6em;
	margin:0 0 30px;
}
.tokusen .single .section02 ul {
	width:100%;
	overflow:hidden;
	margin:0 0 10px;
}
.tokusen .single .section02 ul li {
	width:100%;
	margin:0 0 5px;
}
.tokusen .single .section03 {
	width:100%;
	line-height:1.6em;
	margin:0 0 30px;
}
.tokusen .single .section03 .photo {
	margin:0 0 10px;
}
.tokusen .single .section04 {
	clear:both;
	line-height:1.8em;
}
.tokusen .single .section04 .photo {
	width:100%;
	margin:0 0 15px 0;
}
#bgBox {
	background:#f0f0f0;
	padding:30px 0;
	clear:both;
	overflow:hidden;
	margin:0 0 50px;
}
#bgBox .box {
	width:95%;
	margin:0 auto;
}
#bgBox h4 {
	color:#2b98ce;
	padding:0 0 5px;
	border-bottom:solid 1px #2b98ce;
	margin:0 0 20px;
	position:relative;
}
#bgBox h4 a#iconLink {display:none;}
#bgBox h4 a {color:#2b98ce;}
.tokusen #bgBox .map {
	width:100%;
	margin:0 0 10px;
}
.tokusen #bgBox .map iframe {
	width:100%;
}
.tokusen #bgBox .data01 {
	width:100%;
	margin:0 0 10px;
}
.tokusen #bgBox .data01 li {
	padding:0 0 0 15px;
	position:relative;
	margin:0 0 10px;
}
.tokusen #bgBox .data01 li i {
	position:absolute;
	top:3px;
	left:0;
	color:#4c3210;
}
.tokusen #bgBox .data02 {
	width:100%;
	padding:0 0 0 15px;
	position:relative;
	line-height:1.8em;
}
.tokusen #bgBox .data02 i {
	position:absolute;
	top:3px;
	left:0;
}
/* ------------------------------------------------------------ */
/* 泊まるページ */
/* ------------------------------------------------------------ */

.stay #pageTitle {
	background:#4c3210;
}
.stay #content h3 {
	font-size:14px;
	margin:0;
	background:url(../img/stay/icon-stay_bet.png) no-repeat 0 6px;
	background-size:10px ;
	padding:0 0 0 15px;
	height:19px;
}
.stay #tagList {
	width:95%;
	margin:0 auto 10px;
	clear:both;
	overflow:hidden;
}
.stay #tagList a {
	display:block;
	padding:2px 5px;
	background:#2b98ce;
	border-radius: 2px; /* CSS3草案 */ 
	-webkit-border-radius: 2px; /* Safari,Google Chrome用 */ 
	-moz-border-radius: 2px; /* Firefox用 */
	color:#fff;
	font-size:10px;
}
.stay #tagList li {
	float:left;
	margin:0 0 5px 5px;
}
.stay #iconNav {
	background:#f3f3f3 url(../img/stay_iconspall.png) no-repeat 0 0;
	background-size:contain;
	width:90%;
	padding:10px 5%;
	height:50px;
	clear:both;
	overflow:hidden;
	margin:0 0 50px;
}
.stay #iconNav_en {
	width:90%;
	padding:10px 5%;
	height:50px;
	clear:both;
	overflow:hidden;
	margin:0 0 10px;
}
.stay #iconNav ul {
	display:none;
}
.stay #iconNav li {
	margin:0 5px 5px 0;
	float:left;
}
.stay #iconNav li img {
	width:60%;
}
.stay .item {
	clear:both;
	position:relative;
	margin:0 0 50px;
}
.stay .item .icon_b {
	position:absolute;
	left:3%;
	top:19px;
}
.stay .item .icon_b li {
	float:left;
	margin:0 0 0 2px;
	width:14px;
}
.stay .item .icon_b li img {
	width:100%;
}

.stay .item .inBox {
	border-top:solid 2px #2b98ce;
	background:#f3f3f3;
	padding:20px 3% 10px;
	width:94%;
	clear:both;
	overflow:hidden;
	margin:0 0 40px;
}
.stay .item .inBox .left {
	width:100%;
	margin:0 0 20px;
}
.stay .item .inBox .left .photo {
	margin:0 0 9px;
}
.stay .item .inBox .left .photo a {
	background:none !important;
}
.stay .item .inBox .left .photo_01 {
	float:left;
	width:49%;
	overflow:hidden;
}
.stay .item .inBox .left .photo_02 {
	float:right;
	width:49%;
	overflow:hidden;
}
.stay .item .inBox .left .text01 {
	clear:both;
	padding:10px 0 0;
	margin:0 0 20px;
}
.stay .item .inBox .left a {
	text-align:center;
	background:#2b98ce !important;
	color:#fff !important;
}
.stay .item .inBox .left a:hover {
	background:#FFF !important;
	color:#2b98ce !important;
}
.stay .item .inBox .right {
	width:100%;
}
.stay .item .inBox .right h4 {
	position:relative;
	border-bottom:solid 1px #ccc;
	margin:0 0 5px;
	color:#2b98ce;
	font-size:14px;
}
.stay .item .inBox .right h4 span {
	position:absolute;
	right:0;
	bottom:0px;
	font-size:10px !important;
	color:#333 !important;
}
.stay .item .inBox .right h4 span a{
	color:#2b98ce;
}
.stay .item .inBox .right .box {
	margin:0 0 25px;
	clear:both;
	line-height:1.8em;
	font-size:12px;
}
.stay ul.accordion ul {
	background:#fff;
}
.stay ul.accordion ul li {
	font-size:12px !important;
	color:#333 !important;
	padding:5px;
	border-bottom:solid 1px #f2f2f2;
}
.stay ul.accordion span i {
	position:absolute;
	top:10px;
	right:10px;
}
.stay .right .btn_item {
	position:relative;
	margin:0 0 5px !important;
	background:#fff !important;
}
.stay .right .btn_item:hover {
	background:#2b98ce !important;
	color:#fff !important;
}
.stay .right .btn_item i {
	position:absolute;
	top:12px;
	right:10px;
}

/* ------------------------------------------------------------ */
/* 泊まるページ */
/* ------------------------------------------------------------ */
.eat #pageTitle {
	background:#c75900 !important;
}
.eat #content.single h3 {
	background:none !important;
	color:#333 !important;
	margin:0 0 20px !important;
}
.eat .single h3 .border {
    border-bottom: solid 2px #c75900;
    padding: 0 0 5px;
}
.eat .single .section02 li .photo {
	margin:0 0 6px;width:100%;
}
.eat .single .section02 li .photo img {
	width:100%;
}
.eat .single .section02 li {
	margin:0 0 20px !important;
}

.eat .single .section02 li h5 {
	margin:0 0 5px;
	font-size:14px;
	color:#c75900;
}
.eat #bgBox .data01 li i, .eat #bgBox .data02 i {
    color: #c75900 !important;
}
/* ------------------------------------------------------------ */
/* 求人アルバイトページ */
/* ------------------------------------------------------------ */

.arbeit #pageTitle {
	background:#2b98ce;
}
.arbeit #content h3 {
	font-size:14px;
	margin:0;
	background:url(../img/arbeit/arbit_icon02.png) no-repeat 0 3px;
	background-size:13px auto;
	padding:0 0 0 20px;
	position:relative;
}
.arbeit #content h3 span {
	position:absolute;
	right:0;
	bottom:5px;
	font-size:12px;
	color:#2b98ce !important;
}
.arbeit #tagList li {
	float:left;
	margin:0 0 0 5px;
}
.arbeit #iconNav {
	padding:30px;
	clear:both;
	overflow:hidden;
	background:#f3f3f3;
	margin:0 0 20px;
}
.arbeit #iconNav ul {
	width:100%;
	margin:0 auto;
}
.arbeit #iconNav li {
	margin:0 3% 0 0;
	float:left;
	width:17% !important;
}
.arbeit #iconNav li img {
	width:100%;
	display:block;
}
.arbeit .hidden {
	width:100%;
}
.arbeit .item {
	width:100%;
	margin:0 auto 40px;
 display:inline-block;
 vertical-align:top;
}
.arbeit .inbox {
	border-top:solid 2px #2b98ce;
	background:#f3f3f3;
	padding:20px 5%;
	width:90%;
	clear:both;
	overflow:hidden;
}
.arbeit .inbox .photo {
	width:100%;
	margin:0 0 10px;
}
.arbeit .inbox .photo img {
	width:100%;
}
.arbeit .inbox .tag li {
	float:left;
	margin:0 3px 0 0;
	width:15px;
}
.arbeit .inbox .tag {
	overflow:hidden;
	margin:0 0 10px;
}
.arbeit .inbox .data {
	margin:0 0 20px;
}
.arbeit .inbox .data li {
	margin:0 0 5px;
	font-size:14px;
}
.arbeit .inbox .data i {
	color:#95cce7;
}
.arbeit .inbox .right {
	width:100%;
}
.arbeit .inbox .btn_item {
	background: #fff !important;
	text-align:center !important;
	height:25px !important;
	line-height:25px !important;
}
.arbeit .inbox .btn_item:hover {
	background: #2b98ce !important;
	color:#fff !important;
}
.arbeit .inbox .top {
	clear:both;
	overflow:hidden;
	margin:0 0 10px;
}
.arbeit .inbox .dataBox {
	margin:0 0 20px;
}
.arbeit .inbox .dataBox dl {
	width:100%;
	margin:0 0 15px;
	clear:both;
	overflow:hidden;
}
.arbeit .inbox .dataBox dt {
	width:25%;
	float:left;
}
.arbeit .inbox .dataBox dd {
	width:75%;
	float:left;
}
.arbeit .inbox .dataBox a {
	color: #2b98ce !important;
}
.arbeit .inbox .btn a {
	background: #2b98ce !important;
	color:#fff !important;
	text-align:center;
	font-weight:bold;
	height:35px !important;
	line-height:35px !important;
	font-size:14px !important;
}
.arbeit .inbox .btn a:hover {
	background:#fff !important;
	color: #2b98ce !important;
}
/* ------------------------------------------------------------ */
/* 食べる買う */
/* ------------------------------------------------------------ */
.shop #pageTitle {
	background:#c75900;
}
.shop #content h3 {
	font-size:14px;
	margin:0;
	position:relative;
	color:#c75900;
	margin:0 0 10px;
}
.shop #tagList {
	margin:0 0 20px;
	clear:both;
	overflow:hidden;
}
.shop #tagList a {
	display:block;
	padding:2px 5px;
	background:#c75900;
	border-radius: 2px; /* CSS3草案 */ 
	-webkit-border-radius: 2px; /* Safari,Google Chrome用 */ 
	-moz-border-radius: 2px; /* Firefox用 */
	color:#fff;
	font-size:10px;
}
.shop #tagList li {
	float:left;
	margin:0 0 5px 5px;
}
.shop .item {
	width:92%;
	margin:0 auto 20px;
	clear:both;
	overflow:hidden;
	padding:20px 4%;
	background:#f3f3f3;
}
.shop .item .left {
	width:100%;
	margin:0 0 30px;
}
.shop .item .left ul {
	margin:0 0 10px;
	clear:both;
	overflow:hidden;
}
.shop .item .left li {
	width:48%;
	margin:0 1% 0;
	float:left;
}
.shop .item .left a {
	color:#c75900;
}
.shop .item .right {
	width:100%;
}
.shop .item .right h4 {
	color:#c75900;
	font-size:14px;
	border-bottom:solid 1px #c0c0c0;
	margin:0 0 10px;
	position:relative;
}
.shop .item .right h4 span {
	position:absolute;
	bottom:3px;
	font-size:12px !important;
	color:#666;
	right:0;
}
.shop .item .right li {
	margin:0 0 5px;
}
.shop .item .right li i {
	color:#c75900;
}
.shop .item .right ul {
	margin:0 0 10px;
}
.shop .item .right h5 {
	color:#333;
	border-bottom:solid 1px #c0c0c0;
	margin:0 0 10px;
}
.shop .section {
	clear:both;
	margin:0 0 70px;
}
table.t01 {
		display: block;
	}
table.t01 th{
display: none !important;
}
table.t01 tbody{
display: block;
}
table.t01 tbody tr{
	display: block;
	margin-bottom: 1.5em;
}
table.t01 tbody th,
table.t01 tbody td{
	display: list-item;
	border: none;
}
table.t01 tbody td.title{
	list-style-type: none;
	border-bottom:dotted 1px #ccc;
	margin:0 0 5px !important;
	padding:0;
	color:#333;
	font-weight:bold;
}
table.t01 tbody td{
	margin-left: 20px;
	padding: 0;
	text-align:left !important;
}
.shop .t01 tbody td:nth-of-type(2):before { content: "TEL："; }
.shop .t01 tbody td:nth-of-type(3):before { content: "休業日："; }
.shop .t01 tbody td:nth-of-type(4):before { content: "営業時間："; }
.shop .t01 tbody td:nth-of-type(5):before { content: "ジャンル："; }
.shop .t01 tbody td:nth-of-type(6):before { content: "マップ："; }


/* ------------------------------------------------------------ */
/* 日帰り温泉 */
/* ------------------------------------------------------------ */
.onsen #pageTitle {
	background:#2b98ce;
}
.onsen #content h3 {
	font-size:14px;
	margin:0;
	height:29px;
	position:relative;
	color:#333;
	margin:0 0 10px;
	background:url(../img/onsen/onsen_icon_02.png) no-repeat 0 4px;
	background-size:13px;
	padding:0 0 0 20px;
}
.onsen .section {
	clear:both;
	margin:0 0 30px;
	overflow:hidden;
}
.onsen .caseList {
	width:100%;
}
.onsen .caseList li {
	width:94%;
	margin:0 20px 20px 0;
	float:left;
	padding:10px 3%;
	background:#f3f3f3;
}
.onsen .caseList li h4 {
	position:relative;
	border-bottom:solid 1px #c0c0c0;
	margin:0 0 10px;
	font-size:14px;
}
.onsen .caseList li h4 a {
	color:#2b98ce !important;
}
.onsen .caseList li h4 span {
	position:absolute;
	bottom:3px;
	right:0;
	color:#333;
	font-size:12px !important;
}
.onsen .caseList li h4 span i {
	color:#2b98ce !important;
}
.onsen .caseList li .map a {
	color:#2b98ce !important;
}
.onsen .caseList li .caption {
	margin:0 0 5px;
}



/* ------------------------------------------------------------ */
/* ゲレンデレポート */
/* ------------------------------------------------------------ */
.report .main h3 .time {
    position: absolute;
    right: 0;
    font-size: 77%;
    color: #666;
}
.report .imgBox {
	padding:20px 0 0;
	overflow:hidden;
}
.report #pageTitle {
	background:#2b98ce;
}
.report h2 {
	background:url(../img/icon_gere.png) no-repeat 960px 10px;
}
.report .main h3 {
	margin:0 0 10px;
	font-size:14px;
	position:relative;
}
.report .banner h4 {
	margin:0 0 10px;
	padding:5px 0 0;
	text-align:center;
}
.report .main {
	width:100%;
	line-height:1.8em;
	font-size:100%;
}
.report .main img {
	display:block;
	width:100%;
	margin:10px 0 10px;
}
.report .side {
	width:90%;
	background: #ECECEC;
	padding:20px 5%;
}
.report .side .calendar { display:none;}
.report .side .photoinfo {
	display:block;
	margin:0 0 30px;
	color:#2b98ce !important;
	text-decoration:underline;
	background:url(../img/icon_info.png) no-repeat 0 2px;
	padding:0 0 0 18px;
}
.report .side .btn,
.report .side table,
.report .side .bn01,
.report .side .bn02,
.report .side .box {
	margin:0 0 30px;
	clear:both;
}
.report .side .btn .none {
	display:none;
}
.report .side .btn a {
	margin:0 0 5px;
}
.report .side .btn a:hover {
	color:#fff !important;
}
.report .side table {
	width:100%;
}
.report .side table th {
	border-bottom:solid 1px #2b98ce;
	padding:5px;
	font-size:15px;
}
.report .side table td {
	padding:5px;
}
.report .side table .th01 {width:58%; text-align:left;}
.report .side table .th02 {width:19%;}
.report .side table .th03 {width:19%;}
.report .side table .td02 { text-align:center;}
.report .side table .td03 { text-align:right;}
.report .side .bn01 li { margin: 0 0 5px;}
.report .side .box h6 {
	border-bottom:solid 1px #2b98ce;
	margin:0 0 10px;
	font-size:15px;
}
.report .side .tel {
	line-height:1.8em;
}
.report .side .tel span {
	color:#2b98ce;
}
.report .side .ticket {
	margin:0 0 45px;
}
.report .side .bn01 li img {
	width:100% !important;
}
.report .side .ticket li {
	margin:0 0 20px;
}
.report .side .ticket li img {
	width:100%;
	display:block;
	margin:0 0 5px;
}
.report .side .ticket li a {
	color:#fff !important;
	background:#2b98ce !important;
}
.report .entory {
	clear:both;
	overflow:hidden;
	margin:0 0 40px;
}
.report #pageNav {
	position:relative;
	clear:both;
	overflow:hidden;
	height:50px;
	margin:0 0 50px;
}
.report #pageNav .next {
	width:25%;
	position:absolute;
	right:0;
}
.report #pageNav .prev {
	width:25%;
	position:absolute;
	left:0;
}
.report #pageNav .back {
	width:40%;
	position:absolute;
	left:30%;
}
.report #pageNav a {
    display: block;
    padding: 0 10px !important;
    line-height: 35px!important;
    color: #2b98ce !important;
    border: solid 1px #2b98ce;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    height: 35px !important;
    background: none !important;
    font-size: 12px!important;
    position: relative;
    text-align: left;
    -webkit-transition: all .5s;
    transition: all .5s;
	text-align:center;
}
.report #pageNav li.prev i {
    position: absolute;
    top: 12px;
    left: 10px;
}
.report #pageNav li.next i {
    position: absolute;
    top: 12px;
    right: 10px;
}
.report #pageNav a:hover {
	background:#2b98ce !important;
	color:#fff!important;
	text-decoration:none !important;
}
.report .month li {
	margin:0 0 10px;
}
.report .month li a {
	width:100%;
	position:relative;
	background:#f2f2f2;
	height:70px;
	padding:0;
	display:block;
}
.report .month li .day span {
	font-size:26px !important;
	display:block;
}
.report .month li .day {
	font-size:10px;
	font-weight:bold;
	width:60px;
	float:left;
	padding:15px 0 0;
	text-align:center;
}
.report .month li .photo {
	width:18%;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	overflow:hidden;
	text-align:right;
}
.report .month li .photo img {
	height:auto !important;
	width:100% !important;
	margin:0 !important;
	line-height:70px;
}
.report .month li h5 {
	color:#2b98ce;
	width:77%;
	padding:20px 0 0;
	line-height:1.2em;
}
/* ------------------------------------------------------------ */
/* 最新情報 */
/* ------------------------------------------------------------ */
.topics #pageTitle {
	background:#2b98ce;
}
.topics .newsList li {
	background:#f2f2f2;
	padding:15px 5% 15px 5%;
	width:90%;
	margin:0 0 20px;
	clear:both;
	overflow:hidden;
}
.topics .newsList li .left {
	width:100%;
	margin:0 0 10px;
}
.topics .newsList li .left .sp_day span {
	padding:2px;
	border-radius: 2px; /* CSS3草案 */ 
	-webkit-border-radius: 2px; /* Safari,Google Chrome用 */ 
	-moz-border-radius: 2px; /* Firefox用 */
	color:#fff;
	font-size:10px;
	margin:0 10px 0 0 ;
}
.topics .newsList li .left .tag span.news {background:#e94642;}
.topics .newsList li .left .tag span.eat {background:#ff7800;}
.topics .newsList li .left .tag span.stay {background:#654300;}

.topics .newsList li .right {
	width:100%;
	line-height:1.6em !important;
	font-size:13px !important;
}
.topics .newsList li .left .sp_day span.topics {background:#2b98ce;}
.topics .newsList li .left .sp_day span.news {background:#e94642;}
.topics .newsList li .left .sp_day span.news-eat {background:#ff7800;}
.topics .newsList li .left .sp_day span.news-stay {background:#654300;}
.topics .newsList li .left .sp_day span.newstopics{background:#e94642;}
.topics .newsList .day {
	font-size:10px;
	font-weight:bold;
	text-align:center;
	padding:20px 0 0 ;
	width:30%;
	float:left;
}
.report #pageNav .nunber {
	position:absolute;
	left:30%;
}
.report #pageNav .nunber li {
	width:25px !important;
	float:left;
	margin:0 2px 0 0;
}
.report #pageNav .nunber li a {text-align:center !important;}
.topics h4 {
	font-size:14px;
	color:#2b98ce;
	margin:0 0 10px;
	max-width:100%;
}
/* ------------------------------------------------------------ */
/* 最新情報 */
/* ------------------------------------------------------------ */
.side .archive li {
	margin:0 0 10px;
}
.side .archive li a {
	color:#2b98ce;
}
.report .job li h5 {
	color:#2b98ce;
	width:95% !important;
	padding:20px 0 0;
}
/* ------------------------------------------------------------ */
/* トレッキングレポート */
/* ------------------------------------------------------------ */
.green #pageTitle {
	background:#3fa33d !important;
}
.green h2 {
	background:url(../img/green_icon.png) no-repeat 960px 10px !important;
}
.green .btn_item {
    color: #3fa33d !important;
    border: solid 1px #3fa33d !important;
}
.green .btn_item:hover {
    background: #3fa33d !important;
	color:#fff;
}
.green .side table th {
    border-bottom: solid 1px #3fa33d !important;
}
.green .side .box h6 {
    border-bottom: solid 1px #3fa33d !important;
}
.green .side .tel span {
    color: #3fa33d !important;
}
.green .side .photoinfo {
    color:  #3fa33d !important;
    background: url(../img/icon_info_green.png) no-repeat 0 2px !important;
}
.green #pageNav a {
    color: #3fa33d !important;
    border: solid 1px #3fa33d !important;
}
.green #pageNav a:hover {
	background:#3fa33d !important;
}
.green .month li h5 {
    color: #3fa33d !important;
}
/*.green a:hover { color: #3fa33d !important;}
*/.green .month li a  { color: #3fa33d !important;}

/* ------------------------------------------------------------ */
/* エリアマップ */
/* ------------------------------------------------------------ */
.map #pageTitle {
	background:#2b98ce;
}
.map #content h3 {
	font-size:14px;
	margin:0;
	height:29px;
	position:relative;
	color:#333;
	margin:0 0 10px;
	background:url(../img/map_icon_02.png) no-repeat 0 2px;
	padding:0 0 0 25px;
}
.map .mapBox {
	height:400px;
	width:100%;
	margin:0 0 20px;
}
.map .mapBox .wpgmp_map {
	height:400px !important;
}
.map table {
	margin:0 0 40px;
}
.map table td {
	text-align:center !important;
}
.map .bgBox {
	background:#f0f0f0 ;
	clear:both;
	overflow:hidden;
	padding:40px 0 50px;
	margin:0 0 50px;
}
.map .bgBox .inner {
	width:90%;
	margin:0 auto;
}
.map .bgBox h4 {
	color:#2b98ce;
	border-bottom:solid 1px #2b98ce;
	margin:0 0 15px;
	font-size:14px;
}
.map .bgBox .caption {
	margin:0 0 15px;
}
.map .bgBox ul li {
	margin:0 0 10px;
}
.map .bgBox ul li a {
	color:#2b98ce;
	font-size:14px;
	background:url(../img/icon_info.png) no-repeat 0 0px;
	padding:0 0 0 20px;
}
.map .t01 tbody td:nth-of-type(1):after { content: "駐車場"; }
.map .t01 tbody td:nth-of-type(2):before { content: "平日料金："; }
.map .t01 tbody td:nth-of-type(3):before { content: "休日料金："; }
.map .t01 tbody td:nth-of-type(4):before { content: "営業時間："; }
.map .t01 tbody td:nth-of-type(5):before { content: "収容："; }
.map .t01 tbody td:nth-of-type(6):before { content: "コメント："; }
.report .pagenate {
    position: relative;
    clear: both;
    overflow: hidden;
    height: 50px;
}
.report .pagenate .page-numbers {
    width: 30px;
    float: left;
    margin: 0 5px 0 0;
}
.report .pagenate .current {
    display: block;
    padding: 0 px !important;
    line-height: 35px!important;
    color: #fff !important;
    border: solid 1px #2b98ce;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    height: 35px !important;
    background: #2b98ce !important;
    font-size: 12px!important;
    position: relative;
    text-align: left;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
}
.report .pagenate .page-numbers {
    width: 30px;
    float: left;
    margin: 0 5px 0 0;
}
.report .pagenate a {
    display: block;
    padding: 0 px !important;
    line-height: 35px!important;
    color: #2b98ce !important;
    border: solid 1px #2b98ce;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    height: 35px !important;
    background: none !important;
    font-size: 12px!important;
    position: relative;
    text-align: left;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
}
.report .pagenate .next {
    width: 25% !important;
    float: left;
}
.report .pagenate .prev {
	width:25% !important;
}