@charset "UTF-8";
 @import url(base.css);
@import url(textsettings.css);

/*--------------------------------------------------------------*/

/*  フォントサイズ早見表
	以下のようにサイズを指定することで各ブラウザでのフォントサイズを揃えることが出来ます。
	左記のパーセントで指定してください。

	77% = 10px	|	122% = 16px	|	167% = 22px	
	85% = 11px	|	129% = 17px	|	174% = 23px 
	92% = 12px	|	136% = 18px	|	182% = 24px 
	100% = 13px	|	144% = 19px	|	189% = 25px 
	107% = 14px	|	152% = 20px	|	197% = 26px 
	114% = 15px	|	159% = 21px	| 	
*/

/* ------------------------------------------------------------ */
/* 基本、レイアウト指定 */
/* ------------------------------------------------------------ */
#pageTop {
	position: fixed;
	bottom: 50px;
	right: 50px;
}

.sp {
	display: none;
}

* html body {
	background: url(null) fixed;
}

@media screen and (min-width:1025px) {

#spHead {
	display: none;
}
}

@media screen and (max-width:1024px) {

#header {
	display: none;
}

#spHead {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 45px;
	z-index: 99998;
	background: #000;
}

#spHead h1 {
	width: 140px;
	float: left;
	margin: 11px 0 0 15px;
	z-index: 99999;
	position: relative;
}

#spHead h1 a {
	display: block;
}

#spHead h1 img {
	width: 100%;
}
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}

html {
	overflow-x: hidden;
}

.img_left {
	float: left;
	margin: 0 15px 15px 0;
}

.img_right {
	float: right;
	margin: 0 0 15px 15px;
}

/* ------------------------------------------------------------ */
/* リンク色 */
/* ------------------------------------------------------------ */
.map .other a,
.tokusen .caseList li a .data h4,
.arbeit #content h3 a,
.arbeit .inbox .data a,
body.shop .right h4 a,
#shop01 .right a,
#shop02 .right a,
#shop03 .right a,
#shop04 .right a,
#shop05 .right a,
.stay #content h3 a,
.wpgmp_infowindow a,
#sub #punkuz a {
	color: #2b98ce !important;
}

.map .other a:hover,
.wpgmp_infowindow a:hover,
.report .month li a:hover h5,
#areaMap .other a:hover,
.stay .link a:hover,
.sidenav a:hover,
#topNews .h2box a:hover,
.scroll_area li a:hover,
.tokusen .caseList li a:hover .data h4,
.tokusen .caseList li a:hover,
.arbeit #content h3 a:hover,
.arbeit .inbox .data a:hover,
#shop01 .right a:hover,
#shop02 .right a:hover,
#shop03 .right a:hover,
#shop04 .right a:hover,
#shop05 .right a:hover,
body.shop .right h4 a:hover,
#bgBox h4 a:hover,
.tokusen .single h3 .cat a:hover,
.report .side .photoinfo:hover,
.stay #content h3 a:hover,
.report .entory a:hover,
.report .side .tel a:hover,
#sub #punkuz a:hover {
	color: #1c6da4 !important;
	opacity: 1 !important;
}

.report .side .ticket li a:hover {
	background: #1c6da4 !important;
	opacity: 1 !important;
}

a:link {
	color: #333;
	text-decoration: none;
}

a:visited {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #2b98ce;
	text-decoration: none;
}

a:active {
	color: #2b98ce;
	text-decoration: none;
}

.clearfix:after {
	content: ".";  /* 新しいコンテンツ */
	display: block;
	clear: both;
	height: 0;
	visibility: hidden; /* 非表示に */
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;/*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/* ------------------------------------------------------------ */
/* 全体格納 */
/* ------------------------------------------------------------ */
#wrapper {
}

#container {
	width: 1200px;
	margin: 0 auto;
}

/* ------------------------------------------------------------ */
/* ヘッダー */
/* ------------------------------------------------------------ */
#header {
	height: 100px;
}

#header .black {
	width: 99%;
	padding: 0 1% 0 0;
	background: #000;
	color: #fff;
	height: 25px;
	line-height: 25px;
	font-size: 85%;
	text-align: right;
}

#header .black p {
	letter-spacing: 0.2em;
	color: #757575;
	margin: 0 auto;
	max-width: 1440px;
}

#header .box {
	max-width: 1440px;
	margin: 0 auto;
}

#footer .box .rightBox a,
#header .black a {
	color: #ccc;
}

#footer .box .rightBox a:hover,
#header .black a:hover {
	text-decoration: none;
	color: #fff;
}

/* ドロップダウン */
#nav p .btn {
	display: block;
	padding: 0 10px !important;
	line-height: 35px!important;
	color: #2b98ce !important;
	border: solid 1px #2b98ce;
	border-radius: 2px; /* CSS3草案 */
	-webkit-border-radius: 2px; /* Safari,Google Chrome用 */
	-moz-border-radius: 2px; /* Firefox用 */
	width: 190px !important;
	height: 35px !important;
	float: left;
	background: none !important;
	margin: 0 5px 5px !important;
	font-size: 12px!important;
	position: relative;
	text-align: left;
	-webkit-transition: all .5s;
	transition: all .5s;
	font-weight: normal !important;
	font-family: YuGothic, '游ゴシック', "メイリオ", Arial, Helvetica, sans-serif, Osaka !important;
}

#nav p .btn:hover {
	background: #2b98ce !important;
	color: #fff!important;
}

#nav p .btn:hover i {
	color: #fff;
}

#nav p .btn i {
	position: absolute;
	right: 8px;
	top: 11px;
	font-size: 10px !important;
}

#nav li p {
	width: 90%;
	margin: 0 auto;
}

#nav {
	list-style-type: none;
	padding: 0;
	color: #1F1F1F;
	float: right;
	margin: 0;
}

#nav li.sns {
	margin: 20px 3px 0 !important;
}

#nav li.sns a {
	padding: 0 !important;
}

#nav li.sns a img {
	width: 30px;
}

#nav li {
	position: relative;
	margin: 0 10px 0;
	float: left;
	padding: 0;
	text-align: center;
}

#nav li h3 {
	color: #404040;
	border-bottom: dotted 1px #404040;
	margin: 0 auto 15px;
	text-align: left;
	width: 90%;
	font-size: 18px;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 30px 10px;
	font-size: 15px;
	font-weight: 300;
	line-height: 1;
	text-decoration: none;
	letter-spacing: 0.1em;
}

#nav li div a {
	letter-spacing: 0 !important;
	font-size: 14px !important;
}

#nav li:hover a {
	background: url(../img/navi_up.gif) no-repeat center bottom;
	color: #2b98ce !important;
}

#nav li li {
	width: 33%;
	margin: 0 0 15px;
}

#nav li li a {
	background: url(../img/subnav_bg.png) no-repeat 0 3px !important;
	font-size: 100% !important;
	color: #2b98ce !important;
	padding: 1px 0 1px 7px !important;
	font-family: YuGothic, '游ゴシック', "メイリオ", Arial, Helvetica, sans-serif, Osaka !important;
	font-weight: bold !important;
}

#nav li li a:hover {
	background: url(../img/subnav_bg.gif) no-repeat 0 3px !important;
	font-weight: bold;
}

#nav li div.s ul {
	width: 80%;
	margin: 0 auto !important;
}

#nav li div.s li {
	width: 100%;
}

#nav li div.s {
	top: 74px;
	height: 0;
	left: -110px;
	margin: 0;
	width: 250px;
	overflow: hidden;
	color: #fff;
	transition: .2s;
}

#nav li div.map h3 {
	width: 80% !important;
}

#nav li div.map ul {
	width: 80%;
	margin: 0 auto !important;
}

#nav li div.map li {
	width: 50%;
}

#nav li div.map {
	width: 420px!important;
}

#nav li div {
	list-style: none;
	position: absolute;
	height: 0;
	left: -220px;
	margin: 0;
	width: 600px;
	overflow: hidden;
	color: #fff;
	transition: .2s;
}

#nav li:hover > div {
	background: #fff;
	overflow: visible;
	height: auto !important;
	border: solid 1px #2b98ce;
	padding: 30px 0;
	top: 75px;
	position: absolute;
	z-index: 9999;
}

#nav li ul {
	width: 90%;
	margin: 0 auto 20px !important;
	clear: both;
	overflow: hidden;
	transition: .2s;
}

#nav li ul li {
	overflow: hidden;
	color: #fff;
	transition: .2s;
}

#nav li ul li a {
	text-align: left;
	font-weight: normal;
}

/* ドロップダウン */


#header h1 {
	width: 157px;
	float: left;
	margin: 25px 20px 20px 10px;
}

.wideslider {
	margin: 0 0 30px;
}

.scroll_area {
	padding: 10px 0 0;
	height: 90px;
	overflow: auto;
	width: 75% !important;
}

.scroll_area li a {
	font-size: 12px;
	color: #2b98ce;
	font-weight: 600;
}

.scroll_area li a span {
	color: #333 !important;
	margin: 0 10px 0 0;
	font-size: 12px !important;
}

.scroll_area ul {
	width: 95% !important;
	padding: 0 0 0 1%;
}

.scroll_area li {
	margin: 0 0 5px;
	overflow: hidden;
}

#topBn {
	width: 58%;
	float: right;
}

#topBn li {
	float: left;
	width: 23%;
	margin: 0 0 0 1%;
}

#topBn li img {
	width: 100%;
	height: auto !important;
}

#topNews {
	clear: both;
	width: 42%;
	float: left;
}

#topNews .h2box {
	width: 20%;
	float: left;
	text-align: center;
	margin: 20px 2% 20px 0;
	border-right: dotted 1px #ccc;
	padding: 10px 1%;
}

#topNews h2 {
	font-size: 25px;
	line-height: 1.0em;
	color: #545454;
}

#topNews .h2box a {
	font-size: 10px;
	color: #2b98ce;
}

#topNews a i {
	margin: 0 0 0 5px;
}

.fa-chevron-right {
	font-size: 85% !important;
}

.wideslider {
	box-shadow: 0px 2px 5px 1px #ECEAEA;
	-webkit-box-shadow: 0px 2px 5px 1px #ECEAEA;
	-moz-box-shadow: 0px 2px 5px 1px #ECEAEA;
}

/* ------------------------------------------------------------ */
/* コンテンツ */
/* ------------------------------------------------------------ */
#content {
}

#top #section01 {
	max-width: 1440px;
	margin: 0 auto 30px;
	clear: both;
	overflow: hidden;
}

/* レポートエリア */
#reportBox {
	clear: both;
	width: 100%;
	margin: 0 0 80px;
}

#reportBox .pagenation a {
	color: #fff !important;
}

#tab {
	width: 100%;
}

#tab li {
	float: left;
	list-style: none;
	cursor: pointer;
	background: #bbbbbb;
	width: 50%;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	position: relative;
}

#tab li a {
	display: block;
	color: #fff;
	padding: 12px 0 8px;
}

#tab li a:hover {
	opacity: 1 !important;
	text-decoration: none;
}

#tab li .fa-caret-down {
	position: absolute;
	left: 50%;
	bottom: -20px;
	font-size: 35px;
	display: none;
}

#tab li.tab01 span {
	background: url(../img/icon_gere.png) no-repeat 0 3px;
	padding: 9px 0 8px 45px;
}

#tab li.tab02 span {
	background: url(../img/icon_tra.png) no-repeat 0 3px;
	padding: 9px 0 8px 40px;
}

#tab li.tab01 .select .fa-caret-down {
	color: #2b98ce;
	/*color:#bbb;*/
	display: inline;
}

#tab li.tab02 .select .fa-caret-down {
	color: #22a639;
	display: inline;
}

#tab li.tab01 a.select {
	background: #2b98ce;
}

#tab li.tab01:hover a.select .fa-caret-down {
	color: #2279a3;
}

#tab li.tab01:hover a.select {
	background: #2279a3;
}

#tab li.tab02 a.select {
	background: #22a639;
}

#tab li.tab01 a {
	/* background: #2b98ce;*/
	background: #bbb;
}

/*
#tab li.tab01:hover a .fa-caret-down {
	color:#2279a3;
}
#tab li.tab01:hover a {
	background:#2279a3;
}
#tab li.tab02 a {
  background: #22a639;
}
#tab li.tab02:hover a .fa-caret-down {
	color:#168224;
}
#tab li.tab02:hover a {
	background:#168224;
}
*/
.disnon {
	display: none;
}

.content_wrap {
	clear: both;
	width: 95%;
	max-width: 1440px;
	margin: 0 auto;
	color: #fff;
	padding: 40px 0;
	overflow: hidden;
}

#sub .content_wrap {
	width: 1000px !important;
}

.enBox {
	font-size: 14px;
	float: left;
	width: 80%;
	overflow: hidden;
}

#reportBox .enBox li {
	width: 23%;
	margin: 0 1% 15px;
	float: left;
	margin: 0 1% 15px;
}

@media screen and (max-width: 1300px) {

#reportBox .enBox li {
	width: 23%;
	margin: 0 1% 15px;
}

.enBox {
	width: 77%;
}
}

@media screen and (max-width: 1180px) {

#reportBox .enBox li {
	width: 31%;
	margin: 0 1% 15px;
}

.enBox {
	width: 75%;
}
}

@media screen and (max-width: 985px) {

#sub .content_wrap {
	width: 90% !important;
}

#reportBox .enBox li {
	width: 48%;
	margin: 0 1% 15px;
}

.enBox {
	width: 70%;
}
}

#reportBox .enBox a {
	position: relative;
	background: #f2f2f2;
	height: 200px;
	display: block;
	-webkit-transition: all .5s;
	transition: all .5s;
}

#reportBox .enBox a:hover {
	background: #000;
	color: #fff;
}

.enBox .tag {
	position: absolute;
	top: 10px;
	left: 10px;
	text-transform: capitalize;
}

.enBox .tag span {
	padding: 5px;
	font-size: 10px;
	color: #fff;
	background: #22a539;
	border-radius: 3px; /* CSS3草案 */
	-webkit-border-radius: 3px; /* Safari,Google Chrome用 */
	-moz-border-radius: 3px; /* Firefox用 */
}

.gereBox .enBox .tag span {
	background: #2b98ce !important;
}

#reportBox .enBox li .photo {
	width: 100%;
	height: 70%;
	margin: 0 0 5px;
	overflow: hidden;
}

.enBox li .photo img {
	width: 100%;
	height: auto !important;
}

.enBox .time {
	font-size: 10px;
	margin: 0 0 5px;
	padding: 0 10px;
}

.enBox h5 {
	font-size: 12px;
	padding: 0 10px;
}

/* サイドナビ */
.sidenav {
	float: right;
	width: 230px;
}

.content_wrap .sidenav ul {
	margin: 0 0 30px;
}

.gereBox h3 {
	background: url(../img/icon_top_ski.png) no-repeat 0 7px!important;
	padding: 0 0 0 25px;
}

.content_wrap .sidenav h3 {
	background: url(../img/icon_top_tra.png) no-repeat 0 7px;
	padding: 0 0 0 25px;
}

.sidenav h3 {
	color: #545454;
	font-size: 25px;
	margin: 0 0 10px;
	border-bottom: dotted 1px #666;
}

.sidenav li {
	margin: 0 0 8px;
}

.sidenav a {
	color: #2b98ce;
	background: url(../img/subnav_bg.gif) no-repeat 0 7px;
	font-size: 14px;
	margin: 0 0 3px;
	padding: 0 0 0 10px;
	display: block;
	font-weight: 600;
}

.sidenav a span {
	font-weight: normal;
	margin: 0 0 0 5px;
}

.sidenav a.btn_item:hover {
	color: #fff !important;
}

ul.accordion span i {
	font-size: 10px;
	margin: 0 5px 0 0;
}

.accordion span.open .fa-plus {
	display: none;
}

.accordion span .fa-minus {
	display: none;
}

.accordion span.open .fa-minus {
	display: inline;
}

ul.accordion {
	width: 100%;
	margin: 0 auto 10px;
	font-size: 14px;
	color: #2b98ce;
}

ul.accordion span {
	display: block;
	background-position: 97% center;
	background-repeat: no-repeat;
	padding: 10px 0;
}

ul.accordion ul {
	display: none;
	margin: 0 0 30px;
}

ul.accordion > li > p {
	cursor: pointer;
	color: #2b98ce;
}

ul.accordion ul a {
	font-size: 13px;
	background: url(../img/subnav_bg.gif) no-repeat 0 7px !important;
	margin: 0 0 5px 10px !important;
}

.sidenav .btn_item {
	width: 208px;
	margin: 0 0 5px !important;
}

.sidebn li {
	margin: 0 0 10px;
}

.sidebn li a {
	background: none;
	padding: 0 !important;
}

.sidebn li a img {
	width: 100%;
	height: auto !important;
}

/* 泊まる＆お店エリア */
#stay_food {
	clear: both;
	width: 100%;
	margin: 0 0 80px;
	overflow: hidden;
}

#stay_food .s_f_box {
	clear: both;
	width: 95%;
	max-width: 1440px;
	font-size: 20px;
	margin: 0 auto;
	padding: 40px 0;
	overflow: hidden;
}

#stay_food h3 {
	font-size: 25px;
	border-bottom: dotted 1px #666;
	margin: 0 0 20px;
}

#stay_food .stay h3 {
	background: url(../img/icon_top_bet.png) no-repeat 0 10px;
	background-size: 17px;
	padding: 0 0 0 25px;
}

#stay_food .food h3 {
	background: url(../img/eat/icon_eat_02.png) no-repeat 0 8px !important;
	padding: 0 0 0 15px;
}

.s_f_box .stay {
	width: 48%;
	float: left;
	overflow: hidden;
}

.s_f_box .food {
	width: 48%;
	float: right !important;
	overflow: hidden;
}

.s_f_box .stay .bn {
	width: 102%;
	clear: both;
	overflow: hidden;
	margin: 0 0 40px;
}

.s_f_box .stay .bn li {
	width: 48%;
	float: left;
	margin: 0 2% 0 0;
}

.s_f_box .stay .bn li a {
	display: block;
}

.s_f_box .stay .bn li a .photo img {
	width: auto !important;
	height: 100% !important;
}

.s_f_box .stay .bn li.case img,
.s_f_box .stay .bn li a img {
	width: 100%;
}

.s_f_box .enBox a {
	-webkit-transition: all .5s;
	transition: all .5s;
}

.s_f_box .stay .bn li.case {
	position: relative;
	overflow: hidden;
}

.s_f_box .stay .bn li.case a {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 9999;
}

.s_f_box .stay .bn li.case a .photo {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.s_f_box .stay .bn li.case a .photo img {
	height: 100%;
}

.s_f_box .stay .bn li.case a .text {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
	background: url(../img/case_bg_opa.png) repeat 0 0;
	color: #fff;
	padding: 15px 5%;
	-webkit-transition: all .5s;
	transition: all .5s;
	width: 90%;
}

.s_f_box .stay .bn li.case a:hover .text {
	padding: 15px 5% 20px;
}

.s_f_box .stay .bn li.case a .text span {
	display: block;
	font-size: 12px;
}

.stay .link {
	padding: 0 10px 10px;
	clear: both;
}

.stay .link a {
	display: block;
	color: #2b98ce;
	font-size: 18px;
	position: relative;
	padding: 0 0 0 15px;
	font-weight: bold;
}

.stay .link a i {
	position: absolute;
	top: 7px;
	left: 0;
	font-size: 10px !important;
}

.s_f_box .clm2 {
	letter-spacing: -.4em;
}

.s_f_box .clm2 div {
	display: inline-block;
	vertical-align: top;	
	letter-spacing: normal;
	width: 50%;
	box-sizing: border-box;
}

#stay_food .enBox .accordion {
	margin: 0 auto 40px;
	clear: both;
	width: 100%;
	overflow: hidden;
}

#stay_food .enBox .btn_item {
	width: 93% !important;
	font-size: 14px !important;
	margin: 0 auto !important;
	position: relative !important;
	font-weight: 600;
}

#stay_food .enBox .btn_item i {
	position: absolute!important;
	right: 8px!important;
	top: 11px!important;
	font-size: 14px !important;
}

#stay_food .enBox ul.accordion ul {
	padding: 20px 10px 0;
	margin: 0 !important;
}

#stay_food .enBox ul.accordion ul li {
	width: 33%;
	float: left;
}

#stay_food .enBox ul.accordion ul a {
	font-size: 14px;
	background: url(../img/subnav_bg.gif) no-repeat 0 7px !important;
	margin: 0 0 5px 10px !important;
	padding: 0 0 0 10px !important;
	display: block;
	color: #2b98ce;
}

#stay_food .enBox .big_bn,
#stay_food .enBox .big_bn img {
	width: 100%;
}

#stay_food .enBox .big_bn img {
	height: auto !important;
}

#stay_food .sidebn {
	margin: 0 0 25px;
}

#stay_food .ticket img {
	width: 100%;
}

/* エリアマップ */
#areaMap {
	clear: both;
	margin: 0 0 20px;
}

#areaMap h3 {
	max-width: 1440px;
	width: 95%;
	font-size: 25px;
	margin: 0 auto 15px;
	position: relative;
	background: url(../img/map_icon_02.png) no-repeat 0 8px;
	background-size: 13px;
	padding: 0 0 0 20px;
}

#areaMap h3 a {
	display: block;
	position: absolute;
	right: 0;
	bottom: 10px;
	color: #2b98ce;
	font-size: 14px !important;
}

#areaMap h3 a i {
	margin: 0 0 0 10px;
	font-size: 10px !important;
}

#areaMap .mapBox {
	margin: 0 0 10px;
}

#areaMap .other {
	max-width: 1440px;
	width: 95%;
	margin: 0 auto;
}

#areaMap .other a {
	color: #2b98ce;
}

#areaMap .other span {
	font-weight: bold;
	font-size: 18px;
}

#top .botoomBn {
	max-width: 1440px;
	width: 95%;
	margin: 0 auto 50px;
	clear: both;
	overflow: hidden;
}

#top .botoomBn ul {
	width: 50%;
	float: right;
}

#top .botoomBn li {
	float: right;
	margin: 0 0 0 10px;
}

/* ------------------------------------------------------------ */
/* フッター */
/* ------------------------------------------------------------ */
#footer {
	background: #000;
	padding: 50px 0;
}

#footer .box {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
	clear: both;
	overflow: hidden;
	color: #fff;
}

#footer .box a {
	color: #fff;
}

#footer .box .leftBox {
	width: 45%;
	float: left;
	line-height: 1.8em;
}

#footer .box .leftBox h3 {
	margin: 0 0 20px;
}

#footer .box .rightBox {
	width: 50%;
	float: right;
	text-align: right;
	padding: 20px 0 0;
}

#footer .box .rightBox p {
	margin: 0 0 20px;
}

#footer .box .rightBox .sns {
	clear: both;
	overflow: hidden;
}

#footer .box .rightBox .sns a {
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 0 0 10px;
	background: #4a4847;
	text-align: center;
	float: right;
	line-height: 30px;
	border-radius: 15px; /* CSS3草案 */
	-webkit-border-radius: 15px; /* Safari,Google Chrome用 */
	-moz-border-radius: 15px; /* Firefox用 */
	-webkit-transition: all .5s;
	transition: all .5s;
}

#footer .box .rightBox .sns a:hover {
	background: #ccc;
}

#footer .box .rightBox .sns a:hover .fa-twitter {
	color: #50abf1;
}

#footer .box .rightBox .sns a:hover .fa-facebook {
	color: #415e9e;
}

#footer .box .rightBox .copy {
	clear: both;
}

#footer .box .rightBox {
	color: #757575;
}

/* ------------------------------------------------------------ */
/* 下層ページ */
/* ------------------------------------------------------------ */
#sub.report .imgBox {
	height: auto !important;
	padding: 5px 0 10px !important;
}

#sub.report #topArea {
	height: auto !important;
	position: relative;
}

#sub.report #topArea .box {
	height: 305px;
}

#sub.report #topArea .noBanner {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}

#sub #topArea {
	width: 100%;
	height: 390px;
	clear: both;
	background: #f3f3f3;
}

#sub #topArea .imgBox {
	width: 1000px;
	height: 390px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#sub.stay #topArea .imgBox img {
	width: 100%;
}

#sub #topArea .imgBox span {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	background: #fff !important;
}

#sub #topArea .imgBox span i {
	margin: 0 0 0 5px;
	position: relative !important;
	top: auto !important;
	right: auto !important;
}

#sub #topArea .imgBox span:hover {
	background: #2b98ce !important;
}

#sub #pageTitle {
	width: 100%;
	margin: 0 0 10px;
	color: #fff;
	height: 50px;
	font-size: 18px;
}

#sub #pageTitle h2 {
	width: 1000px;
	line-height: 50px;
	margin: 0 auto;
	text-transform: capitalize;
}

#sub #punkuz {
	width: 1000px;
	margin: 0 auto 50px;
	font-size: 12px;
}

#sub #content {
	width: 1000px;
	margin: 0 auto 80px;
	clear: both;
	overflow: hidden;
}

/* ------------------------------------------------------------ */
/* 特徴のある宿選び */
/* ------------------------------------------------------------ */

.tokusen #pageTitle {
	background: #4c3210;
}

.tokusen h2 {
	background: url(../img/icon_tokusen.png) no-repeat 960px 15px;
}

.tokusen #content h3 {
	font-size: 18px;
	margin: 0 0 15px;
	background: url(../img/icon_top_bet.png) no-repeat 0 5px;
	background-size: 15px;
	padding: 0 0 0 25px;
}

.tokusen .caseList {
	width: 1040px;
}

.tokusen .caseList li {
	width: 480px;
	height: 120px;
	margin: 0 40px 40px 0;
	float: left;
}

.tokusen .caseList li a {
	display: block;
	height: 120px;
	width: 480px;
	background: #f3f3f3;
	clear: both;
	overflow: hidden;
}

.tokusen .caseList li .photo {
	width: 160px;
	height: 120px;
	float: left;
	overflow: hidden;
}

.tokusen .caseList li .photo img {
	height: 100%;
	width: auto !important;
}

.tokusen .caseList li .data {
	width: 290px;
	padding: 15px;
	float: left;
}

.tokusen .caseList li .data h4 {
	font-size: 16px;
	border-bottom: solid 1px #c0c0c0;
	margin: 0 0 10px;
}

.tokusen .section {
	clear: both;
	overflow: hidden;
	margin: 0 0 20px;
}

.tokusen .single .section01 {
	clear: both;
}

.tokusen .single h3 {
	background: none !important;
	padding: 0 0 10px !important;
	position: relative;
	border-bottom: solid 1px #ccc;
	height: 30px;
	margin: 0 0 5px !important;
}

.tokusen .single h3 .border {
	border-bottom: solid 2px #4c3210;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0 5px;
}

.tokusen .single h3 .cat {
	position: absolute;
	bottom: 5px;
	right: 0;
	font-size: 14px;
}

.tokusen .single h3 .cat a {
	color: #2b98ce;
}

.tokusen .single .price {
	margin: 0 0 35px;
}

.tokusen .single .leftBox {
	width: 400px;
	float: left;
}

.tokusen .single .photoBox {
	width: 580px;
	float: right;
}

.tokusen .single .photoBox p img {
	width: 100%;
	height: auto !important;
}

.tokusen .single .photoBox .photobottom {
	width: 100%;
}

.tokusen .single .photoBox .photobottom img {
	width: 100%;
	height: auto !important;
}

.single .bx-wrapper img {
	width: 580px !important;
	height: auto !important;
}

.tokusen .single .bx-pager {
	position: absolute;
	right: 0;
	top: -20px;
	padding: 0 !important;
}

.tokusen .single #slider {
	width: 580px !important;
	height: 425px !important;
}

.tokusen .single .leftBox {
	line-height: 2.0em;
}

.tokusen .single .leftBox h4 {
	color: #4c3210;
	font-size: 18px;
	margin: 0 0 20px;
}

.tokusen .single .section01 {
	margin: 0 0 60px;
	clear: both;
	overflow: hidden;
}

.tokusen .single .section02 h3,
.tokusen .single .section03 h3,
.tokusen .single .section04 h3 {
	margin: 0 0 20px !important;
}

.tokusen .single .section02 {
	width: 655px;
	float: left;
	overflow: hidden;
	line-height: 1.8em;
	margin: 0 0 50px;
}

.tokusen .single .section02 ul {
	width: 660px;
	overflow: hidden;
	margin: 0 0 10px;
}

.tokusen .single .section02 ul li {
	width: 325px;
	float: left;
	margin: 0 5px 0 0;
}

.tokusen .single .section03 .photo img,
.tokusen .single .section02 ul li img {
	width: 100%;
	height: auto !important;
}

.tokusen .single .section03 {
	width: 325px;
	float: right;
	line-height: 1.8em;
	margin: 0 0 50px;
}

.tokusen .single .section03 .photo {
	margin: 0 0 10px;
}

.tokusen .single .section04 {
	clear: both;
	line-height: 1.8em;
}

.tokusen .single .section04 .bx-pager {
	position: absolute;
	bottom: -20px;
	right: 0;
}

.tokusen .single .section04 h3 {
	margin: 0 0 30px !important;
}

.tokusen .single .section04 .photo {
	width: 550px;
	float: left;
	margin: 0 20px 15px 0;
}

#bgBox {
	background: #f0f0f0;
	padding: 50px 0;
	clear: both;
	overflow: hidden;
}

#bgBox .box {
	width: 1000px;
	margin: 0 auto;
}

#bgBox h4 {
	color: #2b98ce;
	padding: 0 0 5px;
	border-bottom: solid 1px #2b98ce;
	margin: 0 0 20px;
	position: relative;
	font-size: 18px;
}

#bgBox h4 a#iconLink {
	display: block;
	position: absolute;
	right: 0;
	bottom: 5px;
	font-size: 12px;
}

#bgBox h4 a {
	color: #2b98ce;
}

.tokusen #bgBox .map {
	width: 400px;
	float: left;
	margin: 0 30px 0 0;
}

.tokusen #bgBox .data01 {
	width: 270px;
	float: left;
	margin: 0 30px 0 0;
}

.tokusen #bgBox .data01 li {
	padding: 0 0 0 15px;
	position: relative;
	margin: 0 0 10px;
}

.tokusen #bgBox .data01 li i {
	position: absolute;
	top: 3px;
	left: 0;
	color: #4c3210;
}

.tokusen #bgBox .data02 {
	width: 255px;
	float: left;
	padding: 0 0 0 15px;
	position: relative;
	line-height: 1.8em;
}

.tokusen #bgBox .data02 i {
	position: absolute;
	top: 3px;
	left: 0;
	color: #4c3210;
}

/* ------------------------------------------------------------ */
/* 泊まるページ */
/* ------------------------------------------------------------ */

.stay #pageTitle {
	background: #4c3210;
}

.stay h2 {
	background: url(../img/icon_tokusen.png) no-repeat 960px 15px;
}

.stay #content {
	position: relative;
}

.stay #content h3 {
	font-size: 18px;
	margin: 0;
	background: url(../img/stay/icon-stay_bet.png) no-repeat 0 8px;
	padding: 0 0 0 25px;
	height: 29px;
}

.stay #content h3 .hotel_type {
	margin: 0 0 0 20px;
	font-size: 77%;
	color: #666;
	font-weight: normal;
}

.stay #tagList {
	position: absolute;
	top: 0px;
	right: 10px;
}

.stay #tagList a {
	display: block;
	padding: 2px 5px;
	background: #2b98ce;
	border-radius: 2px; /* CSS3草案 */
	-webkit-border-radius: 2px; /* Safari,Google Chrome用 */
	-moz-border-radius: 2px; /* Firefox用 */
	color: #fff;
	font-size: 10px;
}

.stay #tagList li {
	float: left;
	margin: 0 0 0 5px;
}

.stay #iconNav_en {
	padding: 30px 10px 30px 20px;
	clear: both;
	overflow: hidden;
	background: #f3f3f3;
	margin: 0 0 50px;
}

.stay #iconNav {
	padding: 30px 10px 30px 20px;
	clear: both;
	overflow: hidden;
	background: #f3f3f3;
	margin: 0 0 50px;
}

.stay #iconNav ul {
	width: 1000px;
}

.stay #iconNav li {
	margin: 0 20px 0 0;
	float: left;
}

.stay .item {
	clear: both;
	position: relative;
	margin: 0 0 50px;
}

.stay .item .icon_b {
	position: absolute;
	right: 0;
	top: 0;
}

.stay .item .icon_b li {
	float: left;
	margin: 0 0 0 3px;
}

.stay .item .inBox {
	border-top: solid 2px #2b98ce;
	background: #f3f3f3;
	padding: 30px;
	width: 940px;
	clear: both;
	overflow: hidden;
}

.stay .item .inBox .left {
	width: 420px;
	float: left;
}

.stay .item .inBox .left .photo {
	margin: 0 0 5px;
}

.stay .item .inBox .left .photo_01 img,
.stay .item .inBox .left .photo_02 img,
.stay .item .inBox .left .photo img {
	width: 100%;
	height: auto !important;
}

.stay .item .inBox .left .photo_01 {
	float: left;
	width: 207px;
	overflow: hidden;
	margin: 0 6px 0 0;
}

.stay .item .inBox .left .photo_02 {
	float: left;
	width: 207px;
	overflow: hidden;
}

.stay .item .inBox .left .text01 {
	clear: both;
	padding: 10px 0 0;
	margin: 0 0 20px;
}

.stay .item .inBox .left a.btn_item {
	text-align: center;
	background: #2b98ce !important;
	color: #fff !important;
}

.stay .item .inBox .left a.btn_item:hover {
	background: #1c6da4 !important;
	color: #fff !important;
	border: solid 1px #1c6da4 !important;
}

.stay .item .inBox .right {
	width: 480px;
	float: right;
}

.stay .item .inBox .right h4 {
	position: relative;
	border-bottom: solid 1px #ccc;
	margin: 0 0 5px;
	font-size: 14px;
}

.stay .item .inBox .right h4 span {
	position: absolute;
	right: 0;
	bottom: 3px;
	font-size: 12px !important;
	color: #333 !important;
}

.stay .item .inBox .right h4 span a {
	color: #2b98ce;
}

.stay .item .inBox .right .box {
	margin: 0 0 25px;
	clear: both;
	line-height: 1.8em;
}

.stay ul.accordion ul {
	background: #fff;
}

.stay .inBox ul.accordion ul li {
	font-size: 12px !important;
	color: #333 !important;
	padding: 10px;
}

.stay ul.accordion ul li a {
	background: none !important;
}

.stay .inBox ul.accordion span {
	position: relative;
}

.stay ul.accordion span i {
	position: absolute;
	top: 10px;
	right: 10px;
}

.stay .right .btn_item {
	position: relative;
	margin: 0 0 5px !important;
	background: #fff !important;
}

.stay .right .btn_item:hover {
	background: #2b98ce !important;
	color: #fff !important;
}

.stay .right .btn_item i {
	position: absolute;
	top: 12px;
	right: 10px;
}

/* ------------------------------------------------------------ */
/* 泊まるページ */
/* ------------------------------------------------------------ */
.eat #pageTitle {
	background: #c75900 !important;
}

.eat h2 {
	background: url(../img/eat/icon_eat_01.png) no-repeat 960px 15px !important;
}

.eat #content h3 {
	font-size: 18px;
	/*	color:#c75900 !important;
*/	margin: 0 0 15px;
	background: url(../img/eat/icon_eat_02.png) no-repeat 0 4px !important;
	padding: 0 0 0 15px;
}

.eat .data .map span {
	color: #2b98ce;
}

.eat #content.single h3 {
	background: none !important;
	color: #333 !important;
	margin: 0 0 30px !important;
}

.eat .single h3 .border {
	border-bottom: solid 2px #c75900;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0 5px;
}

.eat #content.single h4 {
	color: #c75900;
}

.eat .single .section02 {
	width: 100% !important;
	overflow: hidden;
	line-height: 1.8em;
	margin: 0 0 50px;
}

.eat .single .section02 ul {
	width: 1013px !important;
}

.eat .single .section02 li {
	width: 325px !important;
	float: left;
	margin: 0 12px 0 0 !important;
}

.eat .single .section02 li .photo {
	margin: 0 0 5px;
}

.eat .single .section02 li h5 {
	margin: 0 0 5px;
	font-size: 15px;
	color: #c75900;
}

.eat #bgBox .data01 li i,
.eat #bgBox .data02 i {
	color: #c75900 !important;
}

/* ------------------------------------------------------------ */
/* 求人アルバイトページ */
/* ------------------------------------------------------------ */

.arbeit #pageTitle {
	background: #2b98ce;
}

.arbeit h2 {
	background: url(../img/arbeit/arbit_icon01.png) no-repeat 960px 15px;
}

.arbeit #content h3 {
	font-size: 18px;
	margin: 0;
	background: url(../img/arbeit/arbit_icon02.png) no-repeat 0 5px;
	background-size: 15px;
	padding: 0 0 0 22px;
	height: 29px;
	position: relative;
}

.arbeit #content h3 span {
	position: absolute;
	right: 0;
	bottom: 5px;
	font-size: 12px;
	color: #2b98ce !important;
}

.arbeit #tagList li {
	float: left;
	margin: 0 0 0 5px;
}

.arbeit #iconNav {
	padding: 30px;
	clear: both;
	overflow: hidden;
	background: #f3f3f3;
	margin: 0 0 50px;
	text-align: center;
}

.arbeit #iconNav ul {
	width: 450px;
	margin: 0 auto;
}

.arbeit #iconNav li {
	margin: 0 25px 0 0;
	float: left;
}

.arbeit .hidden {
	width: 1050px;
	margin: 0 0 0 -15px !important;
}

.arbeit .item {
	width: 480px;
	margin: 0 15px 40px;
	display: inline-block;
	vertical-align: top;
}

.arbeit .inbox {
	border-top: solid 2px #2b98ce;
	background: #f3f3f3;
	padding: 30px;
	width: 420px;
	clear: both;
	overflow: hidden;
}

.arbeit .inbox .photo {
	width: 220px;
	float: left;
	margin: 0 20px 0 0;
}

.arbeit .inbox .photo img {
	width: 100%;
	height: auto !important;
}

.arbeit .inbox .tag li {
	float: left;
	margin: 0 3px 0 0;
}

.arbeit .inbox .tag {
	overflow: hidden;
	margin: 0 0 20px;
}

.arbeit .inbox .data {
	margin: 0 0 20px;
}

.arbeit .inbox .data li {
	margin: 0 0 5px;
}

.arbeit .inbox .data i {
	color: #95cce7;
}

.arbeit .inbox .right {
	width: 180px;
	height: 147px;
	position: relative;
	float: right;
}

.arbeit .inbox .right .btn_item {
	position: absolute;
	bottom: 0;
	width: 85%;
}

.arbeit .inbox .btn_item {
	background: #fff !important;
	text-align: center !important;
	height: 25px !important;
	line-height: 25px !important;
}

.arbeit .inbox .btn_item:hover {
	background: #2b98ce !important;
	color: #fff !important;
	border: solid 1px #2b98ce !important;
}

.arbeit .inbox .top {
	clear: both;
	overflow: hidden;
	margin: 0 0 40px;
}

.arbeit .inbox .dataBox {
	margin: 0 0 20px;
}

.arbeit .inbox .dataBox dl {
	width: 420px;
	margin: 0 0 15px;
	clear: both;
	overflow: hidden;
}

.arbeit .inbox .dataBox dt {
	width: 100px;
	float: left;
}

.arbeit .inbox .dataBox dd {
	width: 320px;
	float: left;
}

.arbeit .inbox .dataBox a {
	color: #2b98ce !important;
}

.arbeit .inbox .btn a {
	background: #2b98ce !important;
	color: #fff !important;
	text-align: center;
	font-weight: bold;
	height: 35px !important;
	line-height: 35px !important;
	font-size: 14px !important;
}

.arbeit .inbox .btn a:hover {
	background: #1c6da4 !important;
	color: #fff !important;
}

/* ------------------------------------------------------------ */
/* 食べる買う */
/* ------------------------------------------------------------ */
.shop #content {
	position: relative;
}

.shop #pageTitle {
	background: #c75900;
}

.shop h2 {
	background: url(../img/shop/shop_icon_01.png) no-repeat 960px 10px;
}

.shop #content h3 {
	font-size: 18px;
	margin: 0;
	height: 29px;
	position: relative;
	margin: 0 0 10px;
}

.shop #tagList {
	position: absolute;
	top: 0px;
	right: 10px;
}

.shop #tagList a {
	display: block;
	padding: 2px 5px;
	background: #c75900;
	border-radius: 2px; /* CSS3草案 */
	-webkit-border-radius: 2px; /* Safari,Google Chrome用 */
	-moz-border-radius: 2px; /* Firefox用 */
	color: #fff;
	font-size: 10px;
}

.shop #tagList li {
	float: left;
	margin: 0 0 0 5px;
}

.shop .item {
	width: 940px;
	margin: 0 auto 30px;
	clear: both;
	overflow: hidden;
	padding: 30px;
	background: #f3f3f3;
}

.shop .item .left {
	width: 490px;
	float: left;
}

.shop .item .left ul {
	width: 500px;
}

.shop .item .left li {
	width: 240px;
	margin: 0 10px 10px 0;
	float: left;
}

.shop .item .left li img {
	width: 100%;
	height: auto !important;
}

.shop .item .left a {
	color: #c75900;
}

.shop .item .right {
	width: 420px;
	float: right;
}

.shop .item .right h4 {
	color: #c75900;
	font-size: 16px;
	border-bottom: solid 1px #c0c0c0;
	margin: 0 0 10px;
	position: relative;
}

.shop .item .right h4 a {
	color: #c75900;
}

.shop .item .right h4 span {
	position: absolute;
	bottom: 3px;
	font-size: 12px !important;
	color: #666;
	right: 0;
}

.shop .item .right li {
	margin: 0 0 5px;
}

.shop .item .right li i {
	color: #c75900;
}

.shop .item .right ul {
	margin: 0 0 10px;
}

.shop .item .right h5 {
	color: #333;
	border-bottom: solid 1px #c0c0c0;
	margin: 0 0 10px;
}

.shop .section {
	clear: both;
	margin: 0 0 70px;
}

table.t01 th {
	background: #E0F9FF;
	text-align: left;
}

table.t01 .map {
	color: #c75900;
}

table.t01 {
	width: 998px;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 50px;
	font-size: 13px;
	font-family : YuGothic, '游ゴシック', sans-serif;
}

table.t01 td {
	color: #333;
	padding: 5px;
	margin: 0;
	border: solid 1px #ccc;
	line-height: 1.8em;
}

table.t01 th {
	color: #005475;
	width: 80px;
	font-weight: bold;
	padding: 5px;
	margin: 0;
	border: solid 1px #ccc;
	text-align: center;
}

/* ------------------------------------------------------------ */
/* 日帰り温泉 */
/* ------------------------------------------------------------ */
.onsen #pageTitle {
	background: #2b98ce;
}

.onsen h2 {
	background: url(../img/onsen/onsen_icon_01.png) no-repeat 960px 10px;
}

.onsen #content h3 {
	font-size: 18px;
	margin: 0;
	height: 29px;
	position: relative;
	color: #333;
	margin: 0 0 10px;
	background: url(../img/onsen/onsen_icon_02.png) no-repeat 0 5px;
	padding: 0 0 0 25px;
}

.onsen .section {
	clear: both;
	margin: 0 0 50px;
	overflow: hidden;
}

.onsen .caseList {
	width: 1020px;
}

.onsen .caseList li {
	width: 450px;
	margin: 0 20px 20px 0;
	float: left;
	padding: 20px;
	background: #f3f3f3;
}

.onsen .caseList li h4 {
	position: relative;
	border-bottom: solid 1px #c0c0c0;
	margin: 0 0 10px;
	font-size: 16px;
}

.onsen .caseList li h4 a {
	color: #2b98ce !important;
}

.onsen .caseList li h4 span {
	position: absolute;
	bottom: 3px;
	right: 0;
	color: #333;
	font-size: 14px !important;
}

.onsen .caseList li h4 span i {
	color: #2b98ce !important;
}

.onsen .caseList li .map a {
	color: #2b98ce !important;
}

.onsen .caseList li .caption {
	margin: 0 0 5px;
}

.onsen .section .caption {
	clear: both;
}

/* ------------------------------------------------------------ */
/* ゲレンデレポート */
/* ------------------------------------------------------------ */
.banner .bx-wrapper {
	display: none !important;
}

.report #content {
	margin: 0 auto 200px !important;
}

.report #pageTitle {
	background: #2b98ce;
}

#sub .report h2 {
	width: 90% !important;
	margin: 0 auto !important;
}

.report h2 {
	background: url(../img/icon_gere.png) no-repeat 960px 10px;
}

.report .main h3 {
	margin: 0 0 30px;
	font-size: 18px;
	position: relative;
}

.report .main h3 .time {
	position: absolute;
	right: 0;
	font-size: 77%;
	color: #666;
}

.report .banner {
	padding: 25px 0 0;
}

.report .banner h4 {
	border-bottom: solid 1px #333;
	margin: 0 0 20px;
}

.report .banner ul {
	width: 1050px;
}

.report .banner li {
	width: 178px;
	float: left;
	margin: 0 26px 20px 0;
}

.report .main {
	width: 670px;
	float: left;
	line-height: 2.0em;
	font-size: 103%;
}

.report .main img {
	display: block;
	width: 100%;
	height: auto !important;
	margin: 15px 0 10px;
}

.report .side {
	width: 290px;
	float: right;
	padding: 50px 0 0;
}

.report .side .calendar {
	width: 100%;
	margin: 0 0 45px;
}

.green .side .calendar table th,
.report .side .calendar table th {
	border: none !important;
	padding: 5px;
	font-size: 14px;
	font-weight: normal;
}

.report .side .calendar table .sun {
	color: #F24144;
}

.report .side .calendar table .sat {
	color: #2C81AC;
}

.report .side .calendar table td {
	padding: 5px;
	text-align: center;
}

.report .side .calendar table td a {
	color: #2b98ce!important;
	text-decoration: underline !important;
}

.report .side .photoinfo {
	display: block;
	margin: 0 0 45px;
	color: #2b98ce !important;
	text-decoration: underline;
	background: url(../img/icon_info.png) no-repeat 0 2px;
	padding: 0 0 0 18px;
}

.report .side .btn,
.report .side table,
.report .side .bn01,
.report .side .bn02,
.report .side .box {
	margin: 0 0 45px;
	clear: both;
}

.report .side .btn a {
	margin: 0 0 5px;
}

.report .side table {
	width: 100%;
}

#wp-calendar caption {
	margin: 0 0 20px;
}

.report .side table th {
	border-bottom: solid 1px #2b98ce;
	padding: 5px;
	font-size: 15px;
}

.report .side table td {
	padding: 5px;
}

.report .side table .th01 {
	width: 53%;
	text-align: left;
}

.report .side table .th02 {
	width: 25%;
}

.report .side table .th03 {
	width: 21%;
	text-align: right;
}

.report .side table .td02 {
	text-align: center;
}

.report .side table .td02 img {
	vertical-align: middle;
}

.report .side table .td03 {
	text-align: right;
}

.report .side .bn01 li {
	margin: 0 0 5px;
}

.report .side .box h6 {
	border-bottom: solid 1px #2b98ce;
	margin: 0 0 10px;
	font-size: 15px;
}

.report .side .tel {
	line-height: 1.8em;
}

.report .side .tel a {
	color: #2b98ce;
}

.report .side .ticket {
	margin: 0 0 45px;
}

.report .side .ticket li {
	margin: 0 0 20px;
}

.report .side .ticket li img {
	width: 100%;
	display: block;
	margin: 0 0 5px;
}

/*冬用ボタンカラー*/
.report .side .ticket li a {
	color: #fff !important;
	background: #2b98ce !important;
}

.report .side .ticket li a:hover {
	background: #fff!important;
	color: #2b98ce !important;
}

/*夏用ボタンカラー*/
.report .side .tra li a {
	color: #fff !important;
	background: #3fa33d !important;
}

.report .side .tra li a:hover {
	background: #0E702F !important;
	color: #fff!important;
}

.report .entory {
	clear: both;
	overflow: hidden;
	margin: 0 0 80px;
}

.report .entory a {
	color: #2b98ce;
}

.report .pagenate {
	position: relative;
	clear: both;
	overflow: hidden;
	height: 50px;
}

.report .pagenate .next {
	width: 15% !important;
	float: left;
}

.report .pagenate .prev {
	width: 15% !important;
	float: right;
}

.report .pagenate .back {
	width: 20%;
	position: absolute;
	left: 40%;
}

.report .pagenate a {
	display: block;
	padding: 0 px !important;
	line-height: 35px!important;
	color: #2b98ce !important;
	border: solid 1px #2b98ce;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	height: 35px !important;
	background: none !important;
	font-size: 12px!important;
	position: relative;
	text-align: left;
	-webkit-transition: all .5s;
	transition: all .5s;
	text-align: center;
}

.report .pagenate .current {
	display: block;
	padding: 0 px !important;
	line-height: 35px!important;
	color: #fff !important;
	border: solid 1px #2b98ce;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	height: 35px !important;
	background: #2b98ce !important;
	font-size: 12px!important;
	position: relative;
	text-align: left;
	-webkit-transition: all .5s;
	transition: all .5s;
	text-align: center;
}

.report .pagenate a:hover {
	background: #2b98ce !important;
	color: #fff!important;
	text-decoration: none !important;
}

.report .pagenate .page-numbers {
	width: 30px;
	float: left;
	margin: 0 5px 0 0;
}

.report #pageNav {
	position: relative;
	clear: both;
	overflow: hidden;
	height: 50px;
}

.report #pageNav .next {
	width: 15%;
	position: absolute;
	right: 0;
}

.report #pageNav .prev {
	width: 15%;
	position: absolute;
	left: 0;
}

.report #pageNav .back {
	width: 20%;
	position: absolute;
	left: 40%;
}

.report #pageNav a {
	display: block;
	padding: 0 10px !important;
	line-height: 35px!important;
	color: #2b98ce !important;
	border: solid 1px #2b98ce;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	height: 35px !important;
	background: none !important;
	font-size: 12px!important;
	position: relative;
	text-align: left;
	-webkit-transition: all .5s;
	transition: all .5s;
	text-align: center;
}

.report #pageNav a:hover {
	background: #2b98ce !important;
	color: #fff!important;
	text-decoration: none !important;
}

.report #pageNav li.prev i {
	position: absolute;
	top: 12px;
	left: 10px;
}

.report #pageNav li.next i {
	position: absolute;
	top: 12px;
	right: 10px;
}

.report #pageNav li a {
	color: #2b98ce;
	display: block;
}

.report #pageNav li:hover a {
	color: #fff;
}

.report .month li {
	margin: 0 0 20px;
}

.report .month li a {
	width: 670px;
	position: relative;
	background: #f2f2f2;
	height: 90px;
	padding: 0;
	display: block;
}

.report .month li .day span {
	font-size: 46px !important;
	display: block;
}

.report .month li .day {
	font-size: 14px;
	font-weight: bold;
	width: 100px;
	float: left;
	padding: 25px 0 0;
	text-align: center;
}

.report .month li .photo {
	width: 140px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	text-align: right;
}

.report .month li span.tag {
	padding: 3px 5px;
	font-size: 10px!important;
	color: #fff;
	background: #2b98ce !important;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 0 0 0 15px;
}

.report .month li .photo img {
	height: auto !important;
	width: 100% !important;
	margin: 0 !important;
}

.report .month li h5 {
	line-height: 90px;
	color: #2b98ce;
}

/* ------------------------------------------------------------ */
/* 最新情報 */
/* ------------------------------------------------------------ */
.topics #pageTitle {
	background: #2b98ce;
}

.topics .topicsHead {
	height: 390px;
	overflow: hidden;
	background: #f3f3f3;
}

.topics h2 {
	background: url(../img/topics_icon_01.png) no-repeat 960px 13px !important;
}

.topics h4 {
	font-size: 16px;
	color: #2b98ce;
	margin: 0 0 10px;
}

.topics .newsList li {
	background: #f2f2f2;
	padding: 20px;
	width: 630px;
	margin: 0 0 20px;
	clear: both;
	overflow: hidden;
}

.topics .newsList li .left {
	width: 70px;
	float: left;
	text-align: center;
}

.topics .newsList li .left .tag span {
	padding: 2px 10px 3px;
	border-radius: 2px; /* CSS3草案 */
	-webkit-border-radius: 2px; /* Safari,Google Chrome用 */
	-moz-border-radius: 2px; /* Firefox用 */
	color: #fff;
	font-size: 12px;
}

.topics .newsList li .left .tag span.topics {
	background: #2b98ce;
}

.topics .newsList li .left .tag span.news {
	background: #e94642;
}

.topics .newsList li .left .tag span.news-eat {
	background: #ff7800;
}

.topics .newsList li .left .tag span.news-stay {
	background: #654300;
}

.topics .newsList li .left .tag span.newstopics {
	background: #e94642;
}

.topics .newsList li .right {
	width: 515px;
	border-left: solid 1px #ccc;
	float: right;
	padding: 0 0 0 30px;
}

.topics .newsList .day span {
	font-size: 46px !important;
	display: block;
}

.topics .newsList .day {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0 0;
}

/* ------------------------------------------------------------ */
/* 最新情報 */
/* ------------------------------------------------------------ */
h2.job {
	background: url(../img/job_icon.png) no-repeat 960px 13px !important;
}

.side .archive li {
	margin: 0 0 10px;
}

.side .archive li a {
	color: #2b98ce;
}

/* ------------------------------------------------------------ */
/* トレッキングレポート */
/* ------------------------------------------------------------ */
.green #pageTitle {
	background: #3fa33d !important;
}

.green h2 {
	background: url(../img/green_icon.png) no-repeat 960px 10px !important;
}

.green .btn_item {
	color: #3fa33d !important;
	border: solid 1px #3fa33d !important;
}

.green .btn_item:hover {
	background: #3fa33d !important;
	color: #fff !important;
}

.green .side table th {
	border-bottom: solid 1px #3fa33d !important;
}

.green .side .box h6 {
	border-bottom: solid 1px #3fa33d !important;
}

.green .side .tel span {
	color: #3fa33d !important;
}

.green .side .photoinfo {
	color: #3fa33d !important;
	background: url(../img/icon_info_green.png) no-repeat 0 2px !important;
}

.green #pageNav a {
	color: #3fa33d !important;
	border: solid 1px #3fa33d !important;
}

.green #pageNav a:hover {
	background: #3fa33d !important;
}

.green .month li h5 {
	color: #3fa33d !important;
}

.green .month li .photo {
	width: 140px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	text-align: right;
}

.green .month li span.tag {
	padding: 3px 5px;
	font-size: 10px!important;
	color: #fff;
	background: #3fa33d !important;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 0 0 0 15px;
}

.green .month li .photo img {
	height: auto !important;
	width: 100% !important;
	margin: 0 !important;
}

.green .month li a {
	color: #3fa33d !important;
}

/* ------------------------------------------------------------ */
/* エリアマップ */
/* ------------------------------------------------------------ */
.map #pageTitle {
	background: #2b98ce;
}

.map h2 {
	background: url(../img/map_icon_01.png) no-repeat 960px 13px !important;
}

.map #content h3 {
	font-size: 18px;
	margin: 0;
	height: 29px;
	position: relative;
	color: #333;
	margin: 0 0 10px;
	background: url(../img/map_icon_02.png) no-repeat 0 4px;
	background-size: 12px;
	padding: 0 0 0 20px;
}

.map .mapBox {
	height: 800px;
	width: 100%;
	margin: 0 0 60px;
}

.map .mapBox {
	height: 800px;
	width: 100%;
	margin: 0 0 60px;
}

.gm-style-iw {
	overflow: hidden !important;
}

.gm-style-iw div {
	overflow: hidden !important;
}

.map table {
	background: #fff;
}

.map table td {
	text-align: center !important;
}

.map .bgBox {
	background: #f0f0f0;
	clear: both;
	overflow: hidden;
	padding: 40px 0 60px;
}

.map .bgBox .inner {
	width: 1000px;
	margin: 0 auto;
}

.map .bgBox h4 {
	color: #2b98ce;
	border-bottom: solid 1px #2b98ce;
	margin: 0 0 15px;
	font-size: 18px;
}

.map .bgBox .caption {
	margin: 0 0 15px;
}

.map .bgBox ul li {
	margin: 0 0 10px;
}

.map .bgBox ul li a {
	color: #2b98ce;
	font-size: 15px;
	background: url(../img/icon_info.png) no-repeat 0 0px;
	padding: 0 0 0 20px;
}

/* ------------------------------------------------------------ */
/* レポート一覧 */
/* ------------------------------------------------------------ */
#sub .enBox {
	font-size: 14px;
	width: 100% !important;
	overflow: hidden!important;
}

/* ------------------------------------------------------------ */
/* レポート一覧 */
/* ------------------------------------------------------------ */
.side .pageNav {
	clear: both;
	overflow: hidden;
	margin: 0 0 20px;
}

.side .pageNav a {
	display: block;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.side .pageNav .prev,
.side .pageNav .next {
	width: 30%;
	float: left;
}

.side .pageNav .back {
	width: 38%;
	margin: 0 1%;
	float: left;
}

/* ---トレッキングレポート--- */
.side .pageNav.tra a {
	border: solid 1px #3fa33d !important;
	color: #3fa33d;
}

.side .pageNav.tra a:hover {
	background: #3fa33d;
	color: #fff;
}

/* ---スノーレポート--- */
.side .pageNav.ski a {
	border: solid 1px #2b98ce !important;
	color: #2b98ce;
}

.side .pageNav.ski a:hover {
	background: #2b98ce;
	color: #fff;
}

/* ------------------------------------------------------------ */
/* お知らせ */
/* ------------------------------------------------------------ */
/*#newsMain {
	width:100%;
}
#newsMain .newsList li {
	box-sizing:border-box;
	width:100%;
}
#newsMain .newsList li .right {
    width: 800px;
}*/
.report .pagenate .nextAll {
	width: 20% !important;
	float: left;
	margin: 0 1%;
}

/* ------------------------------------------------------------ */
/* ゲレンデ速報 */
/* ------------------------------------------------------------ */

.slopeinfo {
	
}

#sub.slopeinfo #topArea {
  height: auto;
  overflow: hidden;
	position: relative;
}

.slopeinfo .wideslider {
  margin: 0 auto;
}

/*
.slopeinfo #topArea::before,
.slopeinfo #topArea::after {
	content: "";
	display: block;
	width: 15vw;
	height: 100%;
	background: rgba(0,0,0,.3);
	position: absolute;
	top: 0;
	z-index: 2;
}

.slopeinfo #topArea::before {
	left: 0;
}

.slopeinfo #topArea::after {
	right: -1%;
}*/

.page-slider {
  position: relative;
  left: 15vw; /* (100vw - SlideWidth) / 2 */ /* 20180210 変更 */
  overflow: visible !important;
	z-index: 1;
}

.page-slider .slide-item {
  width: 70vw !important;
}

.page-slider img {
  width: 100%;
  height: auto;
}

.slopeinfo #pageTitle {
  background: #2b98ce;
}

.slopeinfo #pageTitle h2 {
  background: url(../img/icon_gere.png) no-repeat 960px 10px;	
}

.slopeinfo #punkuz {
  margin: 0 auto 20px;
}

.slopeinfo #pagemv {
	width: 100%;
  margin: 0 auto 40px;
}

.slopeinfo #pagemv img {
	width: 100%;
  margin: 0 auto;
}

.slopeinfo #slopeinfo_notice {
	width: 100%;
	border: 8px solid #d6ecf7;
  margin: 0 auto 40px;
	padding: 3%;
	box-sizing: border-box;
}

#slopeinfo_notice p {
	width: 100%;
	font-size: 14px;
  margin: 0 auto 5px;
}

.slopeinfo .main {
  width: 670px;
  float: left;
  line-height: 2.0em;
  font-size: 103%;
}

.slopeinfo .side {
  width: 290px;
  float: right;
}

.slopeinfo #content h3 {
  margin: 0 auto 25px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 0 8px;
	border-bottom: 1px solid #2b98ce;	
	box-sizing: border-box;
}

.slopeinfo #content h3 span {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px 0 0;
	font-size: 28px;
	box-sizing: border-box;
}

.slopeinfo #content h3 span.logo-gelande {
	max-width: 150px;
}

.slopeinfo #content h3 span.logo-gelande img {
	width: 100%;
	height: auto;
}

.slopeinfo #content h3.backnumber-tit {
  margin: 0 auto 25px;
	display: block;
	padding: 0;
	color: #2b98ce;
	font-size: 16px;
	border-bottom: 3px dotted #2b98ce;	
}

.slopeinfo .inBox {
  border-top: solid 2px #2b98ce;
  background: #f3f3f3;
  padding: 30px;
  width: 100%;
  clear: both;
	margin: 0 auto 6%;	
  overflow: hidden;
	box-sizing: border-box;
}

.slopeinfo .update-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 auto 10px;
}

.slopeinfo .update {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0;
}

.slopeinfo .update p {
	margin: 0 8px 8px 0;
}

.slopeinfo .update p:first-of-type {
	background: #2b98ce;
	color: #fff;
	border-radius: 5px;
	padding: 0 5px;
	box-sizing: border-box;
	text-align: center;
}

.slopeinfo .update p span {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}

.slopeinfo .column {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 auto 6%;
	box-sizing: border-box;
}

.slopeinfo .column .col-item {
	width: 100%;
	padding: 0 .5em;
	box-sizing: border-box;
	margin: 0 0 1em;
}

.slopeinfo .col02 .col-item {
	width: calc(100%/2);
}

.slopeinfo .col03 .col-item {
	width: calc(100%/3);
}

.slopeinfo .col04 .col-item {
	width: calc(100%/4);
}

.slopeinfo .col05 .col-item {
	width: calc(100%/5);
}

.slopeinfo .col06 .col-item {
	width: calc(100%/6);
}

.slopeinfo .col-item h4 {
	font-size: 14px;
	text-align: center;
	margin: 0 auto 5px;
	letter-spacing: 1px;	
}

.slopeinfo .col-item p {
	font-size: 20px;	
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	letter-spacing: 2px;
}

.slopeinfo .icon-box .col-item p {
	max-width: 100px;
	max-height: 100px;
	line-height: 100px;
	background: #ccc;
	border-radius: 100%;
}

.slopeinfo .data-box .col-item h4 {
	background: #2b98ce;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto 8px;
}

.slopeinfo .col-item p img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.slopeinfo .col-item p.snow_top {
	background: #cee7f3;
	color: #2b98ce;
}

.slopeinfo .col-item p.snow_base {
	background: #a3d5ec;
	color: #333;
}

.slopeinfo .col-item p.gelande_weather {
	background: #2b98ce;	
	padding: 12%;
	line-height: 1;
	box-sizing: border-box;
	text-align: center;
}

.slopeinfo .col-item p.gelande_temp {
	background: #fff;
	border: 2px solid #2b98ce;
	color: #2b98ce;
}

.slopeinfo .col-item p.wind {
	width: 60%;
	margin: 0 auto;
}

.slopeinfo .col-item .thum,
.slopeinfo .bn-item .thum {
	width: 100%;
	margin: 0 auto;
}

.slopeinfo .col-item a,
.slopeinfo .bn-item a {
	width: 100%;
	display: block;
}

.slopeinfo .col-item a:hover,
.slopeinfo .bn-item a:hover {
	opacity: .7;
}

.slopeinfo .col-item .thum img,
.slopeinfo .bn-item .thum img {
	width: 100%;
	height: auto;
	margin: 0 0 5px 0;
}

.slopeinfo .col-item .txt,
.slopeinfo .bn-item .txt {
	width: 100%;
	margin: 10px auto 0;
}

.slopeinfo .inBox .btn_item {
	font-size: 16px !important;
  text-align: center;
  background: #2b98ce !important;
  color: #fff !important;	
	margin: 0 auto 10px;
}

.slopeinfo .side .side-item {
}

